@charset "UTF-8";
/*リセット*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  background-image: url(../image/tunnel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.f-body {
  position: relative;
}

.f-body__background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.f-cursor {
  cursor: none;
}

.dot1, .dot2 {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 10000;
  pointer-events: none;
}

.dot1 {
  background: #00dda2;
  transition: width 0.05s, height 0.05s;
}

.dot1.active {
  height: 40px;
  width: 40px;
  background: #00dda2;
}

.dot2 {
  height: 22.5px;
  width: 22.5px;
  border: solid 1px #00dda2;
  transition: top 0.05s, left 0.05s, width 0.5s, height 0.5s;
  transition-timing-function: ease-out;
}

.dot2.active {
  height: 60px;
  width: 60px;
}

.l-footer {
  height: 10rem;
}

.l-header {
  position: relative;
  height: 10rem;
}

.l-header img {
  width: 100%;
  height: 100%;
}

.l-header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 8.5%;
  color: #FFFFFF;
  z-index: 1000;
  position: fixed;
}

.l-header__container img {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.l-header__container a {
  font-size: 2rem;
  margin-left: 3%;
  font-family: serif;
}

@media (max-width: 834px) {
  .l-header .menu-header-container {
    display: none;
  }
}

.l-header .menu-header-container ul {
  display: flex;
  align-items: center;
}

.l-header .menu-header-container ul li a {
  padding: 0 5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.l-header .menu-header-container ul li a:hover {
  text-decoration: underline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l-main {
  width: 100%;
  height: auto;
  position: relative;
}

.l-main__text--scrool {
  position: absolute;
  z-index: 10;
  color: #FFF;
  top: 2.5%;
  left: 5%;
  font-size: 1.25rem;
  writing-mode: vertical-rl;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.l-main--line {
  position: absolute;
  z-index: 100;
  color: #FFF;
  top: 2.5%;
  left: 4.95%;
  width: 1.5px;
  height: 100%;
  background-color: brown;
}

.c-section__top__botton {
  position: absolute;
  z-index: 100;
  color: #FFF5EE;
  top: 92.5%;
  left: 25%;
  transform: translate(-50%, -50%);
}

@media (max-width: 834px) {
  .c-section__top__botton {
    top: 82.5%;
    left: 30%;
  }
}

@media (max-width: 375px) {
  .c-section__top__botton {
    top: 92.5%;
    left: 30%;
  }
}

.c-section__top__botton a {
  color: #FFFFFF;
  font-family: 'klee', sans-serif;
  padding: 1.5rem 2rem;
  background-image: url(../image/light.jpg);
  border-left: solid 7px #9057FF;
  /*左線*/
  border-right: solid 7px #9057FF;
  /*右線*/
  font-size: 2.25rem;
}

@media (max-width: 834px) {
  .c-section__top__botton a {
    padding: 1.25rem 1.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .c-section__top__botton a {
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
  }
}

.c-section__top__botton :hover {
  box-shadow: 0 0 1.5rem 0.75rem #fff;
  /*ボタンの外側に*/
  text-shadow: 0 0 1rem 1rem #fff;
  /*文字の周りに*/
}

.c-section__center__botton {
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.c-section__center__botton a {
  color: #FFFFFF;
  font-family: 'klee', sans-serif;
  padding: 1.5rem 2rem;
  font-size: 2.25rem;
  background-image: url(../image/light.jpg);
  border-left: solid 7px #9057FF;
  /*左線*/
  border-right: solid 7px #9057FF;
  /*右線*/
}

@media (max-width: 834px) {
  .c-section__center__botton a {
    padding: 1.25rem 1.5rem;
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .c-section__center__botton a {
    padding: 1rem 1.25rem;
    font-size: 1.5rem;
  }
}

.c-section__center__botton :hover {
  box-shadow: 0 0 1.5rem 0.75rem #fff;
  /*ボタンの外側に*/
  text-shadow: 0 0 1rem 1rem #fff;
  /*文字の周りに*/
}

.c-section__under__botton {
  position: absolute;
  z-index: 100;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 834px) {
  .c-section__under__botton {
    top: 85%;
  }
}

.c-section__under__botton a {
  color: #FFFFFF;
  font-family: 'klee', sans-serif;
  padding: 1.5rem 2rem;
  font-size: 2.25rem;
  background-image: url(../image/light.jpg);
  border-left: solid 7px #9057FF;
  /*左線*/
  border-right: solid 7px #9057FF;
  /*右線*/
}

@media (max-width: 834px) {
  .c-section__under__botton a {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .c-section__under__botton a {
    padding: 0.25rem;
    font-size: 0.25rem;
  }
}

.c-section__under__botton :hover {
  box-shadow: 0 0 1.5rem 0.75rem #fff;
  /*ボタンの外側に*/
  text-shadow: 0 0 1rem 1rem #fff;
  /*文字の周りに*/
}

.c-header__botton {
  display: none;
}

@media (max-width: 834px) {
  .c-header__botton {
    display: block;
    position: fixed;
    top: 60px;
    right: 40px;
    z-index: 2000;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

/*----------------------------
  * メニュー本体
  *----------------------------*/
.l-header__container--tab {
  display: none;
}

@media (max-width: 834px) {
  .l-header__container--tab {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
  }
}

@media (max-width: 834px) {
  .menu-item {
    display: block;
    width: 100%;
    height: auto;
    padding: .5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }
}

/*----------------------------
  * アニメーション部分
  *----------------------------*/
/* アニメーション前のメニューの状態 */
.l-header__container--tab {
  display: none;
}

@media (max-width: 834px) {
  .l-header__container--tab {
    display: block;
    transform: translateX(100%);
    transition: all .3s linear;
  }
}

/* アニメーション後のメニューの状態 */
.l-header__container--tab.is-active {
  display: none;
}

@media (max-width: 834px) {
  .l-header__container--tab.is-active {
    display: block;
    transform: translateX(0);
  }
}

.c-header__botton--line > span {
  display: none;
}

@media (max-width: 834px) {
  .c-header__botton--line > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #666;
    border-radius: 10px;
    transition: all 400ms;
  }
}

.c-header__botton--line > span:nth-child(1) {
  display: none;
}

@media (max-width: 834px) {
  .c-header__botton--line > span:nth-child(1) {
    display: block;
    top: 0;
  }
}

.c-header__botton--line > span:nth-child(2) {
  display: none;
}

@media (max-width: 834px) {
  .c-header__botton--line > span:nth-child(2) {
    display: block;
    top: 10px;
  }
}

.c-header__botton--line > span:nth-child(3) {
  display: none;
}

@media (max-width: 834px) {
  .c-header__botton--line > span:nth-child(3) {
    display: block;
    top: 20px;
  }
}

.l-header__container--tab.click span:nth-child(1) {
  display: none;
}

@media (max-width: 834px) {
  .l-header__container--tab.click span:nth-child(1) {
    display: block;
    background: #fff;
    top: 6px;
    transform: rotate(-45deg);
  }
}

.l-header__container--tab.click span:nth-child(2), .c-header__botton--line.open span:nth-child(3) {
  display: none;
}

@media (max-width: 834px) {
  .l-header__container--tab.click span:nth-child(2), .c-header__botton--line.open span:nth-child(3) {
    display: block;
    top: 6px;
    background: #fff;
    transform: rotate(45deg);
  }
}

.c-section--hexagon__content {
  position: relative;
  width: 100px;
  height: 86.67px;
}

.c-section--hexagon__content div {
  width: 50px;
  height: 86.5px;
  position: absolute;
  left: 25px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  transform-origin: center;
  box-sizing: border-box;
  background-color: #c0c0c0;
}

.c-section--hexagon__content div:nth-of-type(1) {
  transform: rotate(0deg);
  border-color: #9966FF;
}

.c-section--hexagon__content div:nth-of-type(2) {
  transform: rotate(60deg);
  border-color: #9966FF;
}

.c-section--hexagon__content div:nth-of-type(3) {
  transform: rotate(120deg);
  border-color: #9966FF;
}

.c-section--hexagon--1 {
  display: none;
}

.c-section--hexagon--1__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--1__img img {
  width: 7.5rem;
  height: 7.5rem;
}

.c-section--hexagon--2 {
  display: none;
}

.c-section--hexagon--2__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--2__img img {
  width: 7.5rem;
  height: 7.5rem;
}

.c-section--hexagon--3 {
  display: none;
}

.c-section--hexagon--3__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--3__img img {
  width: 7.5rem;
  height: 7.5rem;
}

.c-section--hexagon--4 {
  display: none;
}

.c-section--hexagon--4__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--4__img img {
  width: 8.5rem;
  height: 8.5rem;
}

.c-section--hexagon--5 {
  display: none;
}

.c-section--hexagon--5__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--5__img img {
  width: 7.5rem;
  height: 7.5rem;
}

.c-section--hexagon--6 {
  display: none;
}

.c-section--hexagon--6__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--6__img img {
  width: 8.5rem;
  height: 8.5rem;
}

.c-section--hexagon--7 {
  display: none;
}

.c-section--hexagon--7__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--7__img img {
  width: 6rem;
  height: 6rem;
}

.c-section--hexagon--8 {
  display: none;
}

.c-section--hexagon--8__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--8__img img {
  width: 6rem;
  height: 6rem;
}

.c-section--hexagon--9 {
  display: none;
}

.c-section--hexagon--9__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--9__img img {
  width: 6rem;
  height: 6rem;
}

.c-section--hexagon--10 {
  display: none;
}

.c-section--hexagon--10:hover {
  animation: p-section--hexagon--10 .1s  infinite;
}

.c-section--hexagon--10__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.c-section--hexagon--10__img img {
  width: 6rem;
  height: 6rem;
}

@keyframes p-section--hexagon--9 {
  0% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

@keyframes p-section--hexagon--10 {
  0% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  25% {
    transform: translate(2px, 2px) rotateZ(1deg);
  }
  50% {
    transform: translate(0px, 2px) rotateZ(0deg);
  }
  75% {
    transform: translate(2px, 0px) rotateZ(-1deg);
  }
  100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
}

.c-section__top__inner--text {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 2rem;
  color: #FFF5EE;
  line-height: 2;
  font-family: 'klee', sans-serif;
  width: 37.5%;
  height: 100%;
}

@media (max-width: 834px) {
  .c-section__top__inner--text {
    top: 20%;
    width: 50%;
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .c-section__top__inner--text {
    top: 5%;
    font-size: 1rem;
  }
}

.c-section__top__inner--text1 {
  position: absolute;
  top: 0;
  left: 2.5%;
}

@media (max-width: 375px) {
  .c-section__top__inner--text1 {
    top: 20%;
  }
}

.c-section__top__inner--text2 {
  position: absolute;
  top: 25%;
  left: 2.5%;
}

@media (max-width: 375px) {
  .c-section__top__inner--text2 {
    top: 45%;
  }
}

.c-section__top__inner--text3 {
  position: absolute;
  top: 40%;
  left: 2.5%;
}

@media (max-width: 834px) {
  .c-section__top__inner--text3 {
    top: 40%;
  }
}

@media (max-width: 375px) {
  .c-section__top__inner--text3 {
    top: 60%;
  }
}

.c-section__center__container {
  display: none;
  width: 80%;
  height: 15%;
  background-image: url(../image/logo.jpg);
  background-size: cover;
  border: 3px double #CC99FF;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  position: fixed;
  z-index: 110;
  text-align: center;
  font-family: 'klee', sans-serif;
}

.c-section__center--box1 {
  position: relative;
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}

.c-section__center__img1 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%) translateX(-50%);
  width: 10rem;
  height: 10rem;
}

.c-section__center__img2 {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translateY(-50%) translateX(-50%);
  width: 11rem;
  height: 11rem;
}

.c-section__center__img4 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%) translateX(-50%);
  width: 10rem;
  height: 10rem;
}

.c-section__center__img5 {
  position: absolute;
  top: 50%;
  left: 72.5%;
  transform: translateY(-50%) translateX(-50%);
  width: 11rem;
  height: 11rem;
}

.c-section__center__img7 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 11rem;
  height: 11rem;
}

.c-section__center__img9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 10rem;
  height: 10rem;
}

.c-section__center__img11 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 10rem;
  height: 10rem;
}

.c-section__center__img12 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 10rem;
  height: 10rem;
}

.c-section__center--box2 {
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.c-section__center--box2 h3 {
  padding: 1.5rem 0 2rem 0;
  font-size: 2.5rem;
  text-decoration: underline double #FFCCFF;
}

.c-section__center--box2 p {
  font-size: 1.5rem;
}

.c-section__center--box3 {
  width: 20%;
  height: 100%;
  position: relative;
}

.c-section__center--box3 h3 {
  padding: 1.75rem 0 2rem 0;
  font-size: 2.5rem;
}

.c-section__center--box3 p {
  font-size: 1.5rem;
}

.c-section__center__img3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 5rem;
  height: 2.5rem;
}

.c-section__center__img6 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 5rem;
  height: 2.5rem;
}

.c-section__center__img8 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 5rem;
  height: 2.5rem;
}

.c-section__center__img10 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 5rem;
  height: 2.5rem;
}

.c-body__img {
  width: 100%;
  height: 100%;
}

.c-section__center__img {
  position: absolute;
  top: 85%;
  left: 5%;
  background-color: #FFFFFF;
  border-radius: 50%;
  z-index: 200;
}

.c-section__center__img img {
  width: 5rem;
  height: 5rem;
}

.c-section__under--slider {
  position: absolute;
  top: 25%;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .c-section__under--slider {
    top: 20%;
  }
}

@media (max-width: 375px) {
  .c-section__under--slider {
    top: 25%;
  }
}

.c-section__under--slider img {
  width: 100%;
  height: 35rem;
}

@media (max-width: 834px) {
  .c-section__under--slider img {
    width: 80%;
    height: 25rem;
  }
}

@media (max-width: 375px) {
  .c-section__under--slider img {
    width: 80%;
    height: 10rem;
  }
}

.c-section__under--slider--nav {
  position: absolute;
  top: 30%;
  max-width: 80%;
  width: 100%;
  height: 10rem;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .c-section__under--slider--nav {
    top: 25%;
  }
}

@media (max-width: 375px) {
  .c-section__under--slider--nav {
    top: 35%;
  }
}

.c-section__under--slider--nav .slick-slide {
  margin: 0 1rem;
  border: 2px solid #9966CC;
}

@media (max-width: 834px) {
  .c-section__under--slider--nav .slick-slide {
    margin: 0 0.5rem;
  }
}

.c-section__under--slider--nav img {
  height: 10rem;
  border: 1.5px solid #CCCCFF;
}

@media (max-width: 834px) {
  .c-section__under--slider--nav img {
    height: 7.5rem;
  }
}

.slide-arrow {
  bottom: 0;
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
}

.prev-arrow {
  border-top: solid 5px #CC33FF;
  border-right: solid 5px #CC33FF;
  width: 60px;
  height: 60px;
  transform: rotate(225deg);
  left: -45px;
}

@media (max-width: 834px) {
  .prev-arrow {
    width: 30px;
    height: 30px;
    left: -30px;
  }
}

@media (max-width: 375px) {
  .prev-arrow {
    width: 25px;
    height: 25px;
    left: -20px;
  }
}

.next-arrow {
  border-top: solid 5px #CC33FF;
  border-right: solid 5px #CC33FF;
  width: 60px;
  height: 60px;
  transform: rotate(45deg);
  right: -45px;
}

@media (max-width: 834px) {
  .next-arrow {
    width: 30px;
    height: 30px;
    right: -30px;
  }
}

@media (max-width: 375px) {
  .next-arrow {
    width: 25px;
    height: 25px;
    right: -25px;
  }
}

button {
  appearance: none;
  outline: none;
  padding: 0;
}

.c-section__center--pulse0 {
  background: linear-gradient(-135deg, #333333, #FFEEFF);
  position: absolute;
  top: 35%;
  left: 13%;
  transform: translate(-50%, -50%);
  padding: 12.5px;
  border-radius: 50%;
  z-index: 10;
}

.c-section__center--pulse01 {
  background: linear-gradient(-135deg, #333333, #FF6600);
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse01:hover {
  position: absolute;
  top: 45.5%;
  left: 23.5%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
  border-color: #9966CC;
}

.c-section__center--pulse01:hover + .c-section--hexagon--1 {
  display: block;
  position: absolute;
  top: 42.5%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse01:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse02 {
  background: linear-gradient(-135deg, #333333, #000033);
  position: absolute;
  top: 13%;
  left: 23.8%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse02:hover {
  position: absolute;
  top: 8.5%;
  left: 20.3%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse02:hover + .c-section--hexagon--2 {
  display: block;
  position: absolute;
  top: 5%;
  left: 23.75%;
  transform: translate(-50%, -50%);
}

.c-section__center--pulse02:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse03 {
  background: linear-gradient(-135deg, #333333, #FFFF33);
  position: absolute;
  top: 24%;
  left: 39%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse03:hover {
  position: absolute;
  top: 19.5%;
  left: 35.5%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse03:hover + .c-section--hexagon--3 {
  display: block;
  position: absolute;
  top: 16.5%;
  left: 39%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse03:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse04 {
  background: linear-gradient(-135deg, #333333, #FF99CC);
  position: absolute;
  top: 46%;
  left: 47.25%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse04:hover {
  position: absolute;
  top: 41.5%;
  left: 43.75%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse04:hover + .c-section--hexagon--4 {
  display: block;
  position: absolute;
  top: 38.5%;
  left: 47.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse04:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse05 {
  background: linear-gradient(-135deg, #333333, #00CCFF);
  position: absolute;
  top: 50%;
  left: 64.25%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse05:hover {
  position: absolute;
  top: 45.5%;
  left: 60.75%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse05:hover + .c-section--hexagon--5 {
  display: block;
  position: absolute;
  top: 42.5%;
  left: 64%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse05:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse06 {
  background: linear-gradient(-135deg, #333333, #0066FF);
  position: absolute;
  top: 67.5%;
  left: 39.25%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse06:hover {
  position: absolute;
  top: 63%;
  left: 35.75%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse06:hover + .c-section--hexagon--6 {
  display: block;
  position: absolute;
  top: 60%;
  left: 39%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse06:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse07 {
  background: linear-gradient(-135deg, #333333, #00FFFF);
  position: absolute;
  top: 61.25%;
  left: 11.75%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse07:hover {
  position: absolute;
  top: 56.75%;
  left: 8.25%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse07:hover + .c-section--hexagon--7 {
  display: block;
  position: absolute;
  top: 53.5%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse07:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse08 {
  background: linear-gradient(-135deg, #333333, #FF9966);
  position: absolute;
  top: 85.75%;
  left: 9.5%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse08:hover {
  position: absolute;
  top: 81.25%;
  left: 6%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse08:hover + .c-section--hexagon--8 {
  display: block;
  position: absolute;
  top: 78%;
  left: 9.5%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse08:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse09 {
  background: linear-gradient(-135deg, #333333, #444444);
  position: absolute;
  top: 30%;
  left: 25%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animatever2 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse09:hover {
  position: absolute;
  top: 25.5%;
  left: 21.5%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse09:hover + .c-section--hexagon--9 {
  display: block;
  position: absolute;
  top: 22.5%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse09:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

.c-section__center--pulse010 {
  background: linear-gradient(-135deg, #333333, #444444);
  position: absolute;
  top: 75%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  padding: 8px;
  border-radius: 50%;
  animation: animatever2 2s linear infinite;
  z-index: 10;
}

.c-section__center--pulse010:hover {
  position: absolute;
  top: 70.5%;
  left: 19.5%;
  transform: translate(-50%, -50%);
  padding: 40px;
  transform: rotateX(75deg);
}

.c-section__center--pulse010:hover + .c-section--hexagon--10 {
  display: block;
  position: absolute;
  top: 67%;
  left: 23%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.c-section__center--pulse010:hover ~ .c-section__center__container {
  display: block;
  display: flex;
  justify-content: space-between;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(207, 135, 237, 0.6), 0 0 0 0 rgba(207, 135, 237, 0.6);
  }
  30% {
    box-shadow: 0 0 0 9px rgba(29, 171, 209, 0), 0 0 0 0 rgba(207, 135, 237, 0.6);
  }
  65% {
    box-shadow: 0 0 0 9px rgba(29, 171, 209, 0), 0 0 0 10px rgba(29, 171, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(29, 171, 209, 0), 0 0 0 10px rgba(29, 171, 209, 0);
  }
}

.c-section__center--line01 {
  position: absolute;
  top: 42.5%;
  left: 11.5%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(37deg);
}

.c-section__center--line02 {
  position: absolute;
  top: 18.5%;
  left: 22.5%;
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(27deg);
}

.c-section__center--line03 {
  position: absolute;
  top: 47.5%;
  left: 3.5%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(93.5deg);
}

.c-section__center--line04 {
  position: absolute;
  top: 73.5%;
  left: 1.75%;
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(97.5deg);
}

.c-section__center--line05 {
  position: absolute;
  top: 59%;
  left: 24.5%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(45deg);
}

.c-section__center--line06 {
  position: absolute;
  top: 56.5%;
  left: 34.5%;
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(119deg);
}

.c-section__center--line07 {
  position: absolute;
  top: 35%;
  left: 34.5%;
  transform: translate(-50%, -50%);
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(62deg);
}

.c-section__center--line08 {
  position: absolute;
  top: 48%;
  left: 47.5%;
  width: 17.5%;
  border: solid rgba(255, 221, 255, 0.4) 1px;
  transform: rotate(10deg);
}

.c-section__center--line09 {
  position: absolute;
  top: 32.5%;
  left: 12.5%;
  transform: translate(-50%, -50%);
  width: 12.5%;
  border: solid rgba(68, 68, 68, 0.6) 1px;
  transform: rotate(162deg);
}

.c-section__center--line010 {
  position: absolute;
  top: 33%;
  left: 17.5%;
  height: 42.5%;
  border: solid rgba(68, 68, 68, 0.6) 1px;
  transform: rotate(161.5deg);
}

.p-section {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.p-section__main {
  width: 100%;
  height: 60rem;
  position: relative;
}

.p-section__inner {
  position: relative;
  z-index: 500;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 30px;
}

.p-section__top {
  position: relative;
  width: 100%;
  height: 100rem;
  background-image: url(../image/murakami.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15rem;
  border-radius: 30px;
}

@media (max-width: 375px) {
  .p-section__top {
    background-size: contain;
    height: 70rem;
  }
}

.p-section__top h2 {
  position: absolute;
  color: #FFF8DC;
  top: 0%;
  left: -2.5%;
  font-size: 15rem;
  font-family: cursive;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

@media (max-width: 834px) {
  .p-section__top h2 {
    font-size: 10rem;
  }
}

@media (max-width: 375px) {
  .p-section__top h2 {
    font-size: 7.5rem;
  }
}

.p-section__center {
  position: relative;
  width: 100%;
  height: 80rem;
  margin-bottom: 15rem;
}

.p-section__center h2 {
  position: absolute;
  color: #FFF8DC;
  font-size: 15rem;
  top: 0%;
  right: 0%;
  font-family: cursive;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

@media (max-width: 834px) {
  .p-section__center h2 {
    font-size: 10rem;
  }
}

@media (max-width: 375px) {
  .p-section__center h2 {
    font-size: 7.5rem;
  }
}

.p-section__center__inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../image/gears.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.p-section__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-section__under {
  position: relative;
  width: 100%;
  height: 100rem;
  z-index: 10;
  opacity: 0.8;
}

@media (max-width: 834px) {
  .p-section__under {
    height: 70rem;
  }
}

@media (max-width: 375px) {
  .p-section__under {
    height: 50rem;
  }
}

.p-section__under img {
  width: 100%;
}

.p-section__under h2 {
  position: absolute;
  color: #FFF8DC;
  font-size: 15rem;
  top: 0.5%;
  left: 0%;
  font-family: cursive;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

@media (max-width: 834px) {
  .p-section__under h2 {
    font-size: 10rem;
  }
}

@media (max-width: 375px) {
  .p-section__under h2 {
    font-size: 7.5rem;
  }
}

.p-section__profile {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #000000;
  font-family: 'klee', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 100;
}

.p-section__profile h1 {
  font-size: 8rem;
  text-align: center;
  padding: 7.5rem;
  font-weight: bold;
  font-family: cursive;
}

@media (max-width: 834px) {
  .p-section__profile h1 {
    font-size: 5rem;
    padding: 5rem;
  }
}

.p-section__profile--content h2 {
  margin: 3rem;
  font-size: 2rem;
}

.p-section__profile--content .wp-image-216 {
  margin: 0% 15% 15% 30%;
  width: 40rem;
  height: 35rem;
}

@media (max-width: 834px) {
  .p-section__profile--content .wp-image-216 {
    margin: 0;
    width: 25rem;
    height: 25rem;
  }
}

.p-section__profile--content .wp-block-column p {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  line-height: 2;
}

.p-section__profile--content .wp-block-table {
  text-align: center;
}

.p-section__profile--content h3 {
  margin: 7.5rem 0;
  font-size: 2.5rem;
}

.p-section__profile--content h4 {
  font-size: 2.25rem;
  margin-bottom: 3rem;
  color: #FFFF22;
}

.p-section__profile--content p {
  font-size: 2rem;
  line-height: 2.5;
}

.p-section__profile--content .wp-block-column {
  text-align: center;
}

.p-section__profile--content .wp-block-columns h4 {
  background: linear-gradient(transparent 70%, #A16EFF 0%);
  display: inline-block;
}

.p-section__skills {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #000000;
  font-family: 'klee', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 100;
}

.p-section__skills h1 {
  font-size: 8rem;
  text-align: center;
  padding: 7.5rem;
  font-weight: bold;
  font-family: cursive;
}

@media (max-width: 834px) {
  .p-section__skills h1 {
    font-size: 5rem;
    padding: 5rem;
  }
}

.p-section__skills--content {
  margin: 5rem;
  font-family: 'klee', sans-serif;
}

.p-section__skills--content h3 {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.p-section__skills--content p {
  font-size: 2rem;
  line-height: 2;
}

.p-section__skills--content .wp-image-162, .p-section__skills--content .wp-image-166, .p-section__skills--content .wp-image-232 {
  display: block;
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
}

.p-section__skills--content .blocks-gallery-grid {
  margin: 0 auto;
}

.p-section__skills--content .wp-block-column {
  margin-bottom: 6rem;
}

.p-section__works {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #000000;
  font-family: 'klee', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 100;
}

.p-section__works h1 {
  font-size: 8rem;
  text-align: center;
  padding: 7.5rem 0 0 0;
  font-weight: bold;
  font-family: cursive;
}

@media (max-width: 834px) {
  .p-section__works h1 {
    font-size: 5rem;
    padding: 5rem;
  }
}

.p-section__works--gallery .wp-block-gallery {
  font-size: 2.25rem;
}

.p-section__works--gallery .wp-block-gallery li {
  margin-top: 10%;
  border: 1px solid #A16EFF;
}

.p-section__contact {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: #000000;
  font-family: 'klee', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
  z-index: 100;
}

.p-section__contact h1 {
  font-size: 8rem;
  text-align: center;
  padding: 7.5rem;
  font-weight: bold;
  font-family: cursive;
}

@media (max-width: 834px) {
  .p-section__contact h1 {
    font-size: 5rem;
    padding: 5rem;
  }
}

.p-section__contact--content {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 834px) {
  .p-section__contact--content {
    margin-left: 20%;
  }
}

.p-section__contact--content p {
  font-size: 2rem;
}

.wpcf7-form-control-wrap {
  display: inline-block;
  border: 1px solid #FFFFFF;
  margin: 5% 10%;
  width: 80%;
}

@media (max-width: 834px) {
  .wpcf7-form-control-wrap {
    margin: 0 0 5% 0;
    width: 100%;
  }
}

.your-message {
  border: 0px solid #FFFFFF;
}

.wpcf7-textarea {
  border: 1px solid #FFFFFF;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.outer {
  position: relative;
  width: 300px;
  height: 300px;
}

.iconGear,
.iconGear:before,
.iconGear:after,
.iconGear div:before {
  position: absolute;
  width: 40px;
  height: 200px;
  content: '';
  background-color: #A16EFF;
  border-radius: 1px;
}

.iconGear {
  top: 50px;
  left: 130px;
}

.iconGear:before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

.iconGear:after {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

.iconGear div:before {
  top: -20px;
  left: 60px;
  transform: rotate(90deg);
}

.iconGear div {
  position: absolute;
  top: 20px;
  left: -60px;
  width: 160px;
  height: 160px;
  background-color: #A16EFF;
  border-radius: 50%;
  z-index: 5;
}

.iconGear div:after {
  position: absolute;
  top: 40px;
  left: 40px;
  content: '';
  width: 80px;
  height: 80px;
  background-color: #000000;
  border-radius: 50%;
}

.u-section__text {
  margin-bottom: 5rem;
  font-family: cursive;
  z-index: 100;
  color: #FFF;
  font-size: 5rem;
}

@media (max-width: 834px) {
  .u-section__text {
    font-size: 2.5rem;
  }
}

.u-section__text--1 {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

@media (max-width: 834px) {
  .u-section__text--1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .u-section__text--1 {
    font-size: 2rem;
  }
}

.u-section__text--2 {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
}

@media (max-width: 834px) {
  .u-section__text--2 {
    font-size: 3.5rem;
  }
}

@media (max-width: 375px) {
  .u-section__text--2 {
    font-size: 2rem;
    top: 60%;
    left: 60%;
  }
}
/*# sourceMappingURL=profile.css.map */