@charset "UTF-8";
/*リセット*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
  background-image: url(../image/purple.jpg);
  background-size: contain;
  background-attachment: fixed;
}

.f-body {
  position: relative;
}

.f-body__background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.f-cursor {
  cursor: none;
}

.dot1, .dot2 {
  height: 15px;
  width: 15px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 200;
  pointer-events: none;
}

.dot1 {
  background: #00dda2;
  transition: width 0.05s, height 0.05s;
}

.dot1.active {
  height: 40px;
  width: 40px;
  background: #00dda2;
}

.dot2 {
  height: 22.5px;
  width: 22.5px;
  border: solid 1px #00dda2;
  transition: top 0.05s, left 0.05s, width 0.5s, height 0.5s;
  transition-timing-function: ease-out;
}

.dot2.active {
  height: 60px;
  width: 60px;
}

.l-footer {
  height: 10rem;
}

.l-header {
  position: relative;
  height: 10rem;
}

.l-header img {
  width: 100%;
  height: 100%;
}

.l-header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 8.5%;
  color: #FFFFFF;
  z-index: 1000;
  position: fixed;
}

.l-header__container img {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.l-header__container a {
  font-size: 2rem;
  margin-left: 3%;
  font-family: serif;
}

.l-header .menu-header-container ul {
  display: flex;
  align-items: center;
}

.l-header .menu-header-container ul li a {
  padding: 0 5rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.l-header .menu-header-container ul li a:hover {
  text-decoration: underline;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.l-main {
  width: 100%;
  height: auto;
  position: relative;
}

.l-main__text--scrool {
  position: absolute;
  z-index: 10;
  color: #FFF;
  top: 5%;
  left: 5%;
  font-size: 1.25rem;
  writing-mode: vertical-rl;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.l-main--line {
  position: absolute;
  z-index: 100;
  color: #FFF;
  top: 5%;
  left: 4.95%;
  width: 1.5px;
  height: 100%;
  background-color: brown;
}

.c-body__img {
  width: 100%;
  height: 100%;
}

.p-section {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
}

.p-section__text {
  margin-bottom: 5rem;
}

.p-section__text--cursive {
  position: absolute;
  z-index: 100;
  color: #FFF;
  top: 10%;
  left: 20%;
  font-size: 5rem;
  font-family: cursive;
}

.p-section__text--cursive::after {
  content: "MURAKAKAMIYOSHIYA";
  position: absolute;
  z-index: 100;
  color: #FFF;
  top: 80%;
  left: 40%;
  font-family: cursive;
}

.p-section__img {
  width: 100%;
  filter: brightness(150%);
  opacity: 0.8;
}

.p-section__top {
  position: relative;
  width: 100%;
  height: 100rem;
  background-image: url(../image/murakami.jpg);
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
  margin-bottom: 15rem;
}

.p-section__top h2 {
  position: absolute;
  color: #707070;
  top: 0%;
  left: -2.5%;
  font-size: 15rem;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

.p-section__top__inner--text {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 2rem;
  color: #FF33FF;
  font-family: 'klee', sans-serif;
  width: 37.5%;
  height: 50%;
}

.p-section__top__inner--text1 {
  position: absolute;
  top: 10%;
  left: 2.5%;
  font-size: 2rem;
}

.p-section__top__inner--text2 {
  position: absolute;
  top: 45%;
  left: 2.5%;
  font-size: 2rem;
}

.p-section__top__inner--text3 {
  position: absolute;
  top: 70%;
  left: 2.5%;
  font-size: 2rem;
}

.p-section__top__botton {
  position: absolute;
  color: #000;
  top: 60%;
  left: 22%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  margin: 2rem 0;
  font-family: fantasy;
  border-left: double 7px #FF3366;
  /*左線*/
  border-right: double 7px #FF3366;
  /*右線*/
}

.p-section__top__botton a {
  font-size: 2.5rem;
}

.p-section__top img {
  width: 90%;
  margin: 5%;
  border-radius: 3rem;
  height: 85rem;
  opacity: 0.8;
}

.p-section__center {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 15rem;
}

.p-section__center--inner {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%, -50%);
  background-image: url(../image/fairy.png);
  width: 45rem;
  height: 45rem;
  background-size: cover;
  opacity: 0.75;
}

.p-section__center__botton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../image/hand.png);
  width: 30%;
  height: 30%;
  background-size: cover;
  z-index: 200;
}

.p-section__center__botton a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem 3rem;
  color: #FFF;
  font-family: fantasy;
  font-size: 3rem;
}

.p-section__center__botton :hover {
  box-shadow: 0 0 1.5rem 0.75rem #fff;
  /*ボタンの外側に*/
  text-shadow: 0 0 1rem 1rem #fff;
  /*文字の周りに*/
}

.p-section__center img {
  width: 7.5rem;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.p-section__center h2 {
  position: absolute;
  color: #707070;
  font-size: 15rem;
  top: -5%;
  left: 75%;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

.p-section__under {
  position: relative;
  width: 100%;
  height: 80rem;
  position: relative;
  background-color: #000;
  z-index: 10;
}

.p-section__under img {
  width: 100%;
  border: 3px solid #dd00d2;
}

.p-section__under h2 {
  position: absolute;
  color: #707070;
  font-size: 15rem;
  top: 0.5%;
  left: 0%;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

.p-section__under a {
  color: #FFFFFF;
  font-family: fantasy;
  position: absolute;
  z-index: 100;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  margin: 2em 0;
  font-size: 2rem;
  background: #993399;
  border-bottom: solid 6px #993366;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.p-section__under--inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../image/angel.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.75;
}

.pitems {
  width: 100%;
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 100;
}

.item {
  margin-top: 15%;
  width: 33%;
  height: 60%;
  padding: 1rem;
}

.p-section__square {
  box-sizing: border-box;
  position: relative;
  z-index: 100;
  max-width: 70rem;
  width: 100%;
  border: 2px solid #dd00d2;
  border-radius: 50%;
  box-shadow: 0 0 15px 2px #29B6F6,0 0 3px 0 #29B6F6 inset;
  transform: perspective(600px) rotateX(10deg);
  transition: all 0.3s;
  overflow: hidden;
  margin: 0 auto;
}

.p-section__square .p-section__square__content {
  padding-top: 100%;
  animation: magicSquare 15s linear infinite;
}

@keyframes magicSquare {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.p-section__square .p-section__square__content::before, .p-section__square .p-section__square__content::after {
  display: block;
  content: "";
  transition: all .3s 1.7s;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 3px solid #29b6f6;
  box-shadow: 0 0 15px 2px #29B6F6,0 0 3px 0 #29B6F6 inset;
}

.p-section__square .p-section__square__content::before {
  width: 60%;
  margin-top: -30%;
  margin-left: -30%;
  padding-top: 60%;
  background-color: #707070;
  opacity: 0.6;
}

.p-section__square .p-section__square__content::after {
  width: 74%;
  margin-top: -37%;
  margin-left: -37%;
  padding-top: 74%;
}

.p-section__square .p-section__square__content--inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-section__square .p-section__square__content--inner1::before, .p-section__square .p-section__square__content--inner1::after {
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border: 1px solid #FF0066;
  box-shadow: 0 0 30px 0 #FF0066,0 0 1px 0 #29b6f6 inset;
  content: "";
}

.p-section__square .p-section__square__content--inner1::after {
  transform: rotate(45deg);
}

.p-section__square .p-section__square__content--inner2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-section__square .p-section__square__content--inner2::before, .p-section__square .p-section__square__content--inner2::after {
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  transform: rotate(30deg);
  border: 1px solid #CCCC99;
  box-shadow: 0 0 30px 0 #CCCC99,0 0 1px 0 #29b6f6 inset;
  content: "";
}

.p-section__square .p-section__square__content--inner2::after {
  transform: rotate(60deg);
}

.p-section__square .p-section__square__content--inner3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-section__square .p-section__square__content--inner3::before, .p-section__square .p-section__square__content--inner3::after {
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  transform: rotate(75deg);
  border: 1px solid #29b6f6;
  box-shadow: 0 0 30px 0 #29b6f6,0 0 1px 0 #29b6f6 inset;
  content: "";
}

.p-section__square .p-section__square__content--inner3::after {
  transform: rotate(105deg);
}

.p-section__square .p-section__square__content--inner4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-section__square .p-section__square__content--inner4::before, .p-section__square .p-section__square__content--inner4::after {
  box-sizing: border-box;
  position: absolute;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  transform: rotate(deg);
  border: 1px solid #29b6f6;
  box-shadow: 0 0 30px 0 #29b6f6,0 0 1px 0 #29b6f6 inset;
  content: "";
}

.p-section__square .p-section__square__content--inner4::after {
  transform: rotate(135deg);
}

.p-section__square .p-section__square__content .p-section__square__content__txt--top, .p-section__square .p-section__square__content .p-section__square__content__txt--top-right, .p-section__square .p-section__square__content .p-section__square__content__txt--right, .p-section__square .p-section__square__content .p-section__square__content__txt--bottom-right, .p-section__square .p-section__square__content .p-section__square__content__txt--bottom, .p-section__square .p-section__square__content .p-section__square__content__txt--bottom-left, .p-section__square .p-section__square__content .p-section__square__content__txt--left, .p-section__square .p-section__square__content .p-section__square__content__txt--top-left {
  position: absolute;
  z-index: 100;
  color: #29B6F6;
}

.p-section__square .p-section__square__content__txt--top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .2s .3s;
}

.p-section__square .p-section__square__content__txt--top-right {
  top: 12.5%;
  right: 15%;
  transition: all .2s .5s;
}

.p-section__square .p-section__square__content__txt--right {
  top: 50%;
  right: 1.5%;
  transform: translateY(-50%);
  transition: all .3s .7s;
}

.p-section__square .p-section__square__content__txt--bottom-right {
  right: 15%;
  bottom: 12.5%;
  transition: all .3s .9s;
}

.p-section__square .p-section__square__content__txt--bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s 1.1s;
}

.p-section__square .p-section__square__content__txt--bottom-left {
  bottom: 12.5%;
  left: 15%;
  transition: all .3s 1.3s;
}

.p-section__square .p-section__square__content__txt--left {
  top: 50%;
  left: 1.5%;
  transform: translateY(-50%);
  transition: all .3s 1.5s;
}

.p-section__square .p-section__square__content__txt--top-left {
  top: 12.5%;
  left: 15%;
  transition: all .3s 1.7s;
}

.p-section__profile {
  width: 80%;
  height: 100%;
  background-color: #000000;
  font-family: 'klee', sans-serif;
  color: #FFFFFF;
  margin: 0 auto;
}

.p-section__profile h1 {
  font-size: 4rem;
  text-align: center;
  padding: 3rem;
  font-family: serif;
}

.p-section__profile--content {
  font-family: serif;
}

.p-section__profile--content h2 {
  margin: 3rem;
  font-size: 1.5rem;
}

.p-section__profile--content .wp-image-216 {
  margin-left: 25%;
  width: 45rem;
  height: 40rem;
}

.p-section__profile--content .wp-block-column p {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.p-section__profile--content h3 {
  margin: 3rem 0;
  font-size: 2rem;
}

.p-section__profile--content p {
  font-size: 1.5rem;
  line-height: 2.5;
}

.p-section__skills {
  position: relative;
  width: 80%;
  height: 150vh;
  background-color: #000000;
  color: #FFFFFF;
  margin: 0 auto;
}

.p-section__skills h1 {
  font-size: 5rem;
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-family: serif;
}

.p-section__skills--content {
  position: absolute;
  top: 10%;
  left: 0;
  margin: 5rem;
  font-family: 'klee', sans-serif;
}

.p-section__skills--content h3 {
  font-weight: bold;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.p-section__skills--content p {
  font-size: 1.85rem;
  line-height: 2;
}

.p-section__skills--content .wp-image-162, .p-section__skills--content .wp-image-166 {
  margin-left: 25%;
  width: 15rem;
  height: 15rem;
}

.p-section__skills--content .wp-image-169, .p-section__skills--content .wp-image-198 {
  margin-left: 25%;
}

.p-section__skills--content .wp-block-column {
  margin-bottom: 3rem;
}

.p-section__works {
  position: relative;
  background-color: #000;
  width: 80%;
  margin: 0 auto;
}

.p-section__works h1 {
  font-size: 5rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  z-index: 10;
  font-family: serif;
}

.p-section__works--gallery {
  margin-top: 10rem;
}

.p-section__contact {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  background-color: #000000;
  z-index: 100;
}

.p-section__contact h1 {
  font-size: 5rem;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  z-index: 10;
  font-family: serif;
}

.p-section__contact--content {
  background-color: #FFFFFF;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-section__contact--content p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.p-section__contact--content span {
  border: 1px solid #000;
}

.p-section__contact--content span input {
  height: 3rem;
}
/*# sourceMappingURL=profile.css.map */