@charset "UTF-8";
/*リセット*/
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  -webkit-text-size-adjust: 100%;
}

.l-footer {
  clear: both;
  width: 100%;
}

.l-contents {
  display: flex;
}

.l-contents__header {
  width: 80%;
}

@media (max-width: 834px) {
  .l-contents__header {
    width: 100%;
  }
}

.l-header__container {
  background-color: #FFF7EF;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

@media (max-width: 834px) {
  .l-header__container {
    display: block;
    text-align: center;
    padding-top: 3rem;
  }
}

.l-header__title {
  font-size: 4rem;
  font-family: Roboto;
  color: #707070;
  margin-left: 2rem;
}

@media (max-width: 834px) {
  .l-header__title {
    font-size: 3.5rem;
  }
}

.l-section__main {
  margin: 4rem 6rem;
}

@media (max-width: 834px) {
  .l-section__main {
    margin: 2rem;
  }
}

.l-contents__sidebar {
  width: 20%;
  min-height: 100vh;
  background-color: #F2EDE9;
  position: relative;
  z-index: 500;
}

@media (max-width: 834px) {
  .l-contents__sidebar {
    width: 47%;
    transform: translateX(100vw);
    position: fixed;
    top: 0;
    right: 0;
    background: #F2EDE9;
  }
}

@media (max-width: 375px) {
  .l-contents__sidebar {
    width: 90%;
  }
}

/* アニメーション後のメニューの状態 */
.l-contents__sidebar.is-active {
  transform: translateX(0);
  overflow-y: scroll;
}

.c-bar {
  display: none;
  width: 100%;
  height: 3rem;
  position: fixed;
  z-index: 100;
  text-align: right;
}

@media (max-width: 375px) {
  .c-bar {
    height: 2rem;
  }
}

.c-bar__button {
  position: absolute;
  right: 1rem;
  color: #707070;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

@media (max-width: 375px) {
  .c-bar__button {
    font-size: 1.5rem;
  }
}

.c-bar__open {
  height: 0;
  display: none;
}

@media (max-width: 834px) {
  .c-bar {
    display: block;
  }
}

#c-form {
  position: relative;
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 834px) {
  #c-form {
    padding: 2rem 0;
    margin: 0 15%;
  }
}

@media (max-width: 375px) {
  #c-form {
    margin: 0 5%;
  }
}

#c-form__search {
  border-radius: 0.5rem;
  background: #FFFFFF;
  width: 25rem;
  border: solid 0.1rem #707070;
}

@media (max-width: 834px) {
  #c-form__search {
    width: 100%;
  }
}

#c-form__search__text {
  outline: 0;
  height: 3rem;
  left: 0;
  top: 0;
  font-size: 1.5rem;
}

#c-form button {
  padding-left: 0.5rem;
}

@media (max-width: 834px) {
  #c-form button {
    padding-top: 0.5rem;
    float: left;
  }
}

#c-form__submit {
  margin-left: 0.5rem;
  width: 8rem;
  height: 3.5rem;
  left: 15rem;
  top: 0;
  border-radius: 0.5rem;
  background: #F2EDE9;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  color: #707070;
  text-align: center;
  border: solid 0.1rem #707070;
  /*線*/
}

.c-button__close {
  display: none;
  vertical-align: middle;
  line-height: 1;
  width: 4rem;
  height: 0.5rem;
  background-color: #707070;
  border-radius: 0.1rem;
  position: relative;
  transform: rotate(45deg);
  margin: 1.5rem 1rem 12rem 0;
}

.c-button__close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

@media (max-width: 834px) {
  .c-button__close {
    display: inline-block;
    left: 85%;
  }
}

.c-footer__container__sub2 {
  font-size: 5rem;
}

.c-button__under {
  width: 35rem;
  height: 7rem;
  border-radius: 1rem;
  background: #F2EDE9;
  font-weight: bold;
  font-size: 1.3rem;
  color: #707070;
  text-align: center;
  align-items: center;
  border: solid 0.1rem #707070;
  margin-bottom: 3rem;
}

@media (max-width: 375px) {
  .c-button__under {
    width: 33rem;
  }
}

.c-main__container__top {
  position: relative;
  display: flex;
  align-items: center;
}

.c-main__container__img {
  width: 100%;
  height: 20rem;
  background-color: #000000;
  object-fit: cover;
}

.c-main__container__img1 {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

@media (max-width: 375px) {
  .c-main__container__img1 {
    height: 20rem;
  }
}

.c-main__container__text {
  position: absolute;
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
  margin-left: 4rem;
}

.c-main__container__subtext {
  position: absolute;
  color: #FFFFFF;
  margin-left: 17rem;
  margin-top: 0.5rem;
}

@media (max-width: 375px) {
  .c-main__container__subtext {
    margin: 12rem 4rem 6rem 4rem;
  }
}

.c-main__container__subtext2 {
  position: absolute;
  color: #FFFFFF;
  margin-left: 20rem;
  margin-top: 0.5rem;
}

@media (max-width: 375px) {
  .c-main__container__subtext2 {
    margin: 12rem 4rem 6rem 4rem;
  }
}

.c-main h1 {
  position: absolute;
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
  left: 5%;
  top: 45%;
  align-items: center;
}

.c-main__section1 p img {
  display: flex;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.c-main__section1 h2 img {
  display: flex;
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.p-section {
  display: flex;
  margin: 10% 8%;
  position: relative;
}

@media (max-width: 834px) {
  .p-section {
    margin: 2rem;
  }
}

@media (max-width: 375px) {
  .p-section {
    display: flex;
    flex-direction: column;
  }
}

.p-section__left {
  position: relative;
  display: flex;
  float: left;
  width: 50%;
  padding: 0;
  margin-right: 3rem;
  z-index: 10;
}

@media (max-width: 375px) {
  .p-section__left {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.p-section__left__img {
  width: 100%;
}

.p-section__left__subtext {
  position: absolute;
  top: 60%;
}

@media (max-width: 375px) {
  .p-section__left__subtext {
    font-size: 1.5rem;
  }
}

.p-section__right {
  position: relative;
  display: flex;
  float: right;
  width: 50%;
  padding: 0;
  z-index: 10;
}

@media (max-width: 375px) {
  .p-section__right {
    width: 100%;
  }
}

.p-section__right__img {
  width: 100%;
}

.p-section__right__text {
  position: absolute;
  color: white;
  font-size: 4rem;
  padding: 2rem 0 0 1rem;
  font-weight: bold;
}

.p-section__right__text::after {
  content: '';
  display: block;
  position: absolute;
  margin: 3rem 0 0 2.5rem;
  /* 位置調整 */
  transform: translate(-50%);
  /* 位置調整 */
  width: 5rem;
  /* 下線の幅 */
  height: 2px;
  /* 下線の太さ */
  background-color: #FFFFFF;
  /* 下線の色 */
}

@media (max-width: 834px) {
  .p-section__right__text {
    font-size: 3rem;
  }
}

.p-section__right__subtext {
  position: absolute;
  top: 60%;
}

.p-section__text1 {
  position: absolute;
  justify-content: center;
  top: 66%;
  max-width: 90%;
  height: 15%;
  background-color: #FFFFFF;
  padding: 1.5rem;
  opacity: 0.8;
  left: 1.5rem;
  right: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .p-section__text1 {
    top: 45%;
    height: 25%;
    padding: 2rem 1rem 1rem 1rem;
  }
}

.p-section__text2 {
  position: absolute;
  max-width: 90%;
  height: 15%;
  top: 83%;
  background-color: #FFFFFF;
  padding: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  opacity: 0.8;
  margin: 0 auto;
}

@media (max-width: 834px) {
  .p-section__text2 {
    height: 25%;
    top: 72.5%;
    padding: 2rem 1rem 1rem 1rem;
  }
}

.p-section__text1-1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 4rem;
}

@media (max-width: 834px) {
  .p-section__text1-1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .p-section__text1-1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.p-section__text2-1 {
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 834px) {
  .p-section__text2-1 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .p-section__text2-1 {
    font-size: 1.5rem;
    margin: 0;
  }
}

.p-section__text__sub {
  font-size: 1.1rem;
  margin-top: 1.4rem;
  color: #3C2A10;
}

@media (max-width: 834px) {
  .p-section__text__sub {
    margin-top: 2.5rem;
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .p-section__text__sub {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 375px) {
  .p-section__text__sub {
    margin-top: 2.5rem;
    font-size: 1.6rem;
  }
}

.p-section__map {
  clear: both;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url(../image/map.png);
  height: 100%;
  width: auto;
  background-size: cover;
  background-position: 50% 10%;
  position: relative;
}

@media (max-width: 375px) {
  .p-section__map {
    zoom: 1.6;
    background-repeat: no-repeat;
    background-position: right 65% bottom 0;
  }
}

@media (max-width: 375px) {
  .p-section__map2 {
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    position: absolute;
  }
}

.p-section__map3 {
  background-color: rgba(0, 0, 0, 0.4);
  width: 60%;
  padding: 6rem;
  color: white;
  height: 100%;
}

@media (max-width: 834px) {
  .p-section__map3 {
    width: 100%;
    padding: 1.5rem;
  }
}

@media (max-width: 375px) {
  .p-section__map3 {
    position: relative;
    background-color: transparent;
  }
}

.p-section__map3__text {
  font-size: 3rem;
}

.p-section__map3__text::after {
  content: '';
  display: block;
  position: absolute;
  margin: 6rem 0 0 4rem;
  /* 位置調整 */
  transform: translate(-50%);
  /* 位置調整 */
  width: 8rem;
  /* 下線の幅 */
  height: 2px;
  /* 下線の太さ */
  background-color: #FFFFFF;
  /* 下線の色 */
}

@media (max-width: 375px) {
  .p-section__map3__text::after {
    margin: 2rem 0 0 4rem;
    /* 位置調整 */
  }
}

@media (max-width: 834px) {
  .p-section__map3__text {
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    top: 0;
  }
}

.p-section__map3__subtext {
  line-height: 2;
  margin-top: 10rem;
  box-sizing: border-box;
  border: none;
  font-size: 1.8rem;
  box-sizing: border-box;
  color: #FFFFFF;
}

@media (max-width: 834px) {
  .p-section__map3__subtext {
    line-height: 2.5;
  }
}

@media (max-width: 375px) {
  .p-section__map3__subtext {
    line-height: 2;
    margin-top: 3rem;
    font-size: 1.6rem;
  }
}

.menu-main-container {
  position: absolute;
  color: #FFFFFF;
  z-index: 100;
  width: 100%;
  font-weight: bold;
}

.menu-main-container ul {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

@media (max-width: 375px) {
  .menu-main-container ul {
    display: block;
  }
}

.menu-main-container ul::after {
  content: "";
  display: block;
  width: 5%;
}

.menu-main-container ul li a {
  font-size: 4rem;
}

@media (max-width: 834px) {
  .menu-main-container ul li a {
    font-size: 3rem;
  }
}

#menu-item-981 {
  padding: 1.5% 0 0 1%;
}

#menu-item-981::after {
  content: '';
  display: block;
  position: absolute;
  margin: 3rem 0 0 3rem;
  /* 位置調整 */
  transform: translate(-50%);
  /* 位置調整 */
  width: 5rem;
  /* 下線の幅 */
  height: 2px;
  /* 下線の太さ */
  background-color: #FFFFFF;
  /* 下線の色 */
}

#menu-item-980 {
  padding: 1.5% 0 0 1%;
}

@media (max-width: 375px) {
  #menu-item-980 {
    padding-top: 185%;
  }
}

#menu-item-980::after {
  content: '';
  display: block;
  position: absolute;
  margin: 3rem 0 0 3rem;
  /* 位置調整 */
  transform: translate(-50%);
  /* 位置調整 */
  width: 5rem;
  /* 下線の幅 */
  height: 2px;
  /* 下線の太さ */
  background-color: #FFFFFF;
  /* 下線の色 */
}

#menu-item-273 {
  padding: 2rem;
}

.p-section__second {
  color: #3C2A10;
}

.p-section__second__text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.p-section__second__subtext {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 5rem;
}

@media (max-width: 375px) {
  .p-section__second__subtext {
    font-size: 1.65rem;
    margin-bottom: 3rem;
  }
}

.p-section__menu {
  display: flex;
  margin-bottom: 2rem;
  height: 35rem;
}

@media (max-width: 375px) {
  .p-section__menu {
    flex-direction: column;
    height: 45rem;
  }
}

.p-section__menu img {
  width: 50%;
  height: 35rem;
  object-fit: cover;
}

@media (max-width: 375px) {
  .p-section__menu img {
    width: 100%;
    height: 20rem;
  }
}

.p-section__menu__sub {
  background-color: #3C2B1C;
  width: 50%;
  color: #FFFFFF;
}

@media (max-width: 375px) {
  .p-section__menu__sub {
    width: 100%;
    height: 25rem;
  }
}

.p-section__menu__sub h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 4rem;
}

@media (max-width: 834px) {
  .p-section__menu__sub h3 {
    font-size: 2rem;
    margin: 2rem;
  }
}

@media (max-width: 375px) {
  .p-section__menu__sub h3 {
    display: none;
  }
}

.p-section__menu__sub p {
  margin: 4rem 4rem 6rem 4rem;
}

@media (max-width: 834px) {
  .p-section__menu__sub p {
    margin: 0rem 3rem 5rem 2rem;
  }
}

@media (max-width: 375px) {
  .p-section__menu__sub p {
    margin: 1rem 4rem 5rem 1rem;
  }
}

.p-section__menu__botton {
  text-align: center;
}

.p-section__menu__botton a {
  background-color: #FFFFFF;
  color: #707070;
  padding: 2rem 8rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 50px;
  font-size: 1.2rem;
}

@media (max-width: 834px) {
  .p-section__menu__botton a {
    padding: 5% 15%;
  }
}

@media (max-width: 375px) {
  .p-section__menu__botton a {
    padding: 5% 15%;
  }
}

.p-section__page {
  margin-top: 15rem;
  text-align: center;
  justify-content: center;
  color: #707070;
  margin-bottom: 5rem;
  display: flex;
}

.p-section__page ul {
  display: flex;
}

.p-section__page li {
  color: #707070;
  padding: 1rem;
}

.p-section__page__nation {
  font-size: 1rem;
}

.p-section__page a {
  border: 1px #ccc solid;
  padding: 1rem;
}

.p-Menu {
  padding-left: 3rem;
  color: #707070;
  z-index: 1500;
  position: relative;
}

.p-Menu__text {
  font-size: 2.5rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
  font-weight: bold;
}

@media (max-width: 834px) {
  .p-Menu__text {
    display: none;
  }
}

.p-Menu__text__open {
  display: none;
}

@media (max-width: 834px) {
  .menu-categrymenu-container {
    margin-top: 5rem;
  }
}

.menu-item-651, .menu-item-652, .menu-item-653 {
  margin-bottom: 2rem;
}

.menu-item-651 a, .menu-item-652 a, .menu-item-653 a {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3;
}

.sub-menu a {
  line-height: 3;
  font-size: 1.35rem;
  padding-left: 1.5rem;
  font-weight: normal;
}

.p-Menu__nav__text__open {
  display: none;
}

.p-pagenation {
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -8rem;
}

.wp-pagenavi {
  clear: both;
  text-align: center;
}

.wp-pagenavi a, .wp-pagenavi span {
  color: #999;
  background-color: #FFF;
  padding: 1rem;
  margin: 0 0.5rem;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
}

.wp-pagenavi a:hover {
  color: #FFF;
  background-color: #3C2B1C;
  border-color: #3C2B1C;
}

.wp-pagenavi span.current {
  color: #FFF;
  background-color: #3C2B1C;
  border-color: #3C2B1C;
  font-weight: bold;
}

.p-top__image {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.p-top__image img {
  width: 100%;
  height: 40rem;
  object-fit: cover;
}

.p-top__image h1 {
  position: absolute;
  font-size: 3.6rem;
  font-weight: bold;
  color: white;
  margin-left: 5.5rem;
  z-index: 10;
}

.p-main__section1 {
  margin: 0 6rem;
}

@media (max-width: 834px) {
  .p-main__section1 {
    margin: 4rem;
  }
}

@media (max-width: 375px) {
  .p-main__section1 {
    margin: 2rem;
  }
}

.p-main__section1 h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.p-main__section1 p {
  line-height: 1.5;
  margin-bottom: 5rem;
}

.p-main__section1 h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.p-main__section1 h4, .p-main__section1 h5, .p-main__section1 h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

.wp-block-quote {
  padding: 3rem;
}

.wp-block-quote cite {
  margin-bottom: 3rem;
}

.wp-block-table tr, .wp-block-table td {
  border: solid 1px #707070;
  padding: 2rem;
}

.wp-block-code {
  line-height: 1.5;
  margin: 5rem 2rem;
}

.img__top {
  margin: 0 -6rem 2rem -6rem;
}

.img__top img {
  height: 40rem;
  width: 100%;
}

.__1, .__2, .__3 {
  margin: 0 -0.5rem 0 0;
}

.__center1 img {
  height: 30rem;
  object-fit: cover;
  object-position: bottom;
  margin-bottom: 2rem;
}

.__center2 {
  flex-basis: 0;
}

.__center2 img {
  height: 40%;
  margin: -3rem 0 1rem 0;
}

@media (max-width: 834px) {
  .__center2 img {
    margin: 0 auto;
  }
}

.bold {
  padding-bottom: 20rem;
}

.blocks-gallery-grid, .wp-block-gallery {
  display: block;
}

ol {
  list-style: decimal;
}

.list1 {
  line-height: 1.3rem;
  padding: 2rem 0 1rem 3rem;
}

.list2 {
  padding: 0 0 1rem 4rem;
}

.list3 {
  line-height: 1.3rem;
  padding: 0 0 1rem 3rem;
}

.list4 {
  margin-top: 2rem;
  line-height: 1.3rem;
  padding: 0 0 1rem 1.5rem;
}

.list5 {
  padding: 0 0 1rem 2.5rem;
}

.list6 {
  line-height: 1.3rem;
  padding: 0 0 1rem 1.5rem;
  margin-bottom: 5rem;
}

.p-footer__container {
  height: 15rem;
  background-color: #9D8670;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.5rem;
  padding-top: 5rem;
}

.p-footer__container ul li {
  display: inline-block;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
}

.p-footer__container li + li {
  padding-left: 0.5rem;
  border-left: 0.1px solid #FFFFFF;
}
/*# sourceMappingURL=profile.css.map */