@use '../../global' as g;

.c-section__top__botton{
    position: absolute;
    z-index: 100;
    color: #FFF5EE;
    top: 80%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    @include g.mq('tab'){
        top: 82.5%;
        left: 30%;
     }
     @include g.mq('sp'){
        top:  85%;
        left: 50%;
     }
}
.c-botton__topimage{
    width: 20rem;
    height: auto;
}

.c-section__under__botton{
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    img{
        width: 25vw;
    }
    @include g.mq('tab'){
        top: 85%;
     }
}

.c-header__botton{
    // display: block;
    // @include g.mq('tab'){
        display: block;
        position: fixed;
        top: 75px;
        right: 2.5%;
        z-index: 1100;
        width: 7.5rem;
        height: 3.5rem;
        .c-header__botton--text{
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-top: 5rem;
            -webkit-text-stroke: 1px #FFCCFF;
        }
        .is-active{
            text-align: center;
            font-size: 2rem;
            font-weight: bold;
            margin-top: 5rem;
            display: none;
            -webkit-text-stroke: 1px #FFCCFF;
          }
  }
  .c-header__underbotton{
    display: block;
    position: fixed;
    top: 90%;
    right: 3.5%;
    z-index: 1100;
    width: 5rem;
    height: 5rem;

  }
  .c-header__botton--twitterimage{
      width:100%;
      height: auto;
      margin: 0 auto;
      &:hover{
          background-color: #FFCCFF;
          border-radius: 50%;
      }
      img{
          width: 100%;
      }
  }
  
  /*----------------------------
  * メニュー本体
  *----------------------------*/
  .l-header__container--tab{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    // }

  }
  .l-header__container--z{
      position: relative;
      z-index: 100;
  }
  .l-header__container--haikei{
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left: 0;
      z-index: 0;
      opacity: 0.6;
      background-color: rgba(0,0,0,0.9);
      img{
          width: 100%;
          height: auto;
      }
  }
  .menu-item{
   
    @include g.mq('tab'){
        display: block;
        width: 100%;
        height: auto;
        padding: .5em 1em;
        text-align: center;
        box-sizing: border-box;
    }
 
  }
  
  /*----------------------------
  * アニメーション部分
  *----------------------------*/
  
  /* アニメーション前のメニューの状態 */
  .l-header__container--tab{
    display: none;
    background:linear-gradient(rgba(0,0,0,1), rgba(51,0,51,0.9));
    @include g.mq('tab'){
        display: block;
        transform: translateX(100%);
        transition: all .3s linear;
        
    }
    ul{
 
        li{
         width: 100%;
         height: auto;
         text-align: center;
         padding: 3rem 0;
         @include g.mq('sp'){
            padding: 1.5rem;
            margin: 5rem 20%;
        }
   
         a{
            img{
                &:hover{
                        animation: hurueru 0.1s  infinite;
                }
            }
            .l-header__container--topimage{
               width: 12.5rem;
               height: auto;
           
           }
         }
        }
    }
  }
  .l-header__container--profileimage,.l-header__container--worksimage,.l-header__container--contactimage{
      width: 20rem;
      height: auto;
  }
  @keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(3px, 3px) rotateZ(1deg)}
    50% {transform: translate(0px, 3px) rotateZ(0deg)}
    75% {transform: translate(3px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}

  /* アニメーション後のメニューの状態 */
  .l-header__container--tab.is-active{
    display: flex;
    justify-content: center;
    transform: translateX(0);
    }

  .c-header__botton--line > span{
        display: block;
        position: absolute;
        width: 100%;
        height: 5px;
        background   : radial-gradient(rgba(235, 185, 238, 1),rgb(203, 64, 231));
        -webkit-transition: all 400ms;
        transition: all 400ms;

}
.c-header__botton--line > span:nth-child(1) {
        width: 33%;
        top:0;
}
.c-header__botton--line > span:nth-child(2) {
        width: 66%;
        top:50%;
}
.c-header__botton--line > span:nth-child(3) {
        width: 100%;
        top:100%;
    }

    .c-header__botton--line.active {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
      .c-header__botton--line.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-30deg);
        transform: translateY(20px) rotate(-30deg);
        width: 100%;
      }
      .c-header__botton--line.active span:nth-of-type(2) {
        opacity: 0;
      }
      .c-header__botton--line.active span:nth-of-type(3) {
        -webkit-transform: translateY(20px) rotate(30deg);
        transform: translateY(20px) rotate(30deg);
        width: 100%;
      }

