@use '../../global' as g;

.c-section__top__botton{
    position: absolute;
    z-index: 100;
    color: #FFF5EE;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    @include tab{
        top: 82.5%;
        left: 30%;
     }
     @include sp{
        top:  85%;
        left: 50%;
     }
    a{
        color: #FFFFFF;
        font-family: 'klee', sans-serif;
        padding: 1.5rem 2rem;
        background-image: url(../image/light.jpg);
        border: solid 2px #660099;/*左線*/
        border-left: solid 5px #9966FF;/*左線*/
        border-right: solid 5px #9966FF;/*右線*/
        font-size: 2.25rem;
        @include tab{
            padding: 1.25rem 1.5rem;
            font-size: 2rem;
         }
         @include sp{
            padding: 1rem 1.25rem;
            font-size:1.5rem;
         }
    }
    :hover{
        box-shadow: 0 0 1rem 0.5rem #9966FF;/*ボタンの外側に*/
        text-shadow: 0 0 1rem 1rem #9966FF;/*文字の周りに*/
      }

}

.c-section__center{
&__botton{
    position: absolute;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 100;
    @include tab{
        left: 65%;
     }
     @include tab{
        left: 50%;
     }
 
    a{
        color: #FFFFFF;
        font-family: 'klee', sans-serif;
        padding: 1.25rem 1.5rem;
        font-size: 2.25rem;
        background-image: url(../image/light.jpg);
        border: solid 2px #660099;/*左線*/
        border-left: solid 5px #9966FF;/*左線*/
        border-right: solid 5px #9966FF;/*右線*/
        @include tab{
            padding: 1rem;
            font-size: 1.25rem;
         }
         @include sp{
            padding: 1rem;
    
         }
    }
    :hover{
        box-shadow: 0 0 1rem 0.5rem #9966FF;/*ボタンの外側に*/
        text-shadow: 0 0 1rem 1rem #9966FF;/*文字の周りに*/
  }
}
}
.c-section__under__botton{
    position: absolute;
    z-index: 100;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tab{
        top: 85%;
     }
     
    a{
        color: #FFFFFF;
        font-family: 'klee', sans-serif;
        padding: 1.5rem 2rem;
        font-size: 2.25rem;
        background-image: url(../image/light.jpg);
        border: solid 2px #660099;/*左線*/
        border-left: solid 5px #9966FF;/*左線*/
        border-right: solid 5px #9966FF;/*右線*/
        @include tab{
            padding: 1rem;
            font-size: 1rem;
         }
         @include sp{
            padding: 0.25rem;
            font-size: 0.25rem;
         }
    
    }
    :hover{
        box-shadow: 0 0 1rem 0.5rem #9966FF;/*ボタンの外側に*/
        text-shadow: 0 0 1rem 1rem #9966FF;/*文字の周りに*/
      }
}

.c-header__botton{
    display: none;

    @include tab{
        display: block;
        position: fixed;
        top: 77.5px;
        right: 40px;
        z-index: 2000;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
     
    }

  }
  
  /*----------------------------
  * メニュー本体
  *----------------------------*/
  .l-header__container--tab{
      display: none;
    @include tab{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0,0,0,0.7);
    }

  }
  .menu-item{
   
    @include tab{
        display: block;
        width: 100%;
        height: auto;
        padding: .5em 1em;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
    }
 
  }
  
  /*----------------------------
  * アニメーション部分
  *----------------------------*/
  
  /* アニメーション前のメニューの状態 */
  .l-header__container--tab{
    display: none;
    @include tab{
        display: block;
        transform: translateX(100%);
        transition: all .3s linear;
        
    }
    ul{
        padding-top: 15rem;
        
        
        li{
         padding: 1.5rem;
         margin: 4.5rem 30%;
         display: flex;
         justify-content: center;
         border: 1px solid #9966CC;
         background-image: url(../image/purple.png);
         border-left: solid 5px #9057FF;/*左線*/
         border-right: solid 5px #9057FF;/*右線*/     
         @include sp{
            padding: 1.5rem;
            margin: 5rem 20%;
        }
         a{
            font-size: 2rem;
            font-family: 'klee', sans-serif;
            font-weight: bold;
           
         }
        }
    }
  }
  /* アニメーション後のメニューの状態 */
  .l-header__container--tab.is-active{
    display: none;
    @include tab{
        display: block;
        transform: translateX(0);
    }
  
  }
  
  .c-header__botton--line > span{
    display: none;
    @include tab{
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background: #9966CC;
        border-radius: 10px;
        -webkit-transition: all 400ms;
        transition: all 400ms;
    }

}
.c-header__botton--line > span:nth-child(1) {
    display: none;
    @include tab{
        display: block;
        top:0;
    }
	
}
.c-header__botton--line > span:nth-child(2) {
    display: none;
    @include tab{
        display: block;
        top:10px;
    }

}
.c-header__botton--line > span:nth-child(3) {
    display: none;
    @include tab{
        display: block;
        top:20px;
    }

}
