.c-bar{
    display: none; //通常は非表示
    width: 100%;
    height: 3rem;
    position: fixed; //上部に固定
    z-index: 100;
    background-color: #fff7ef;
    text-align: right; //子要素を右揃え
    @include sp{
        height: 2rem;
    }

    &__button{
        position: absolute;
        right: 1rem;
        color: #707070;
        font-size: 2.5rem;
        font-weight: bold;
        cursor: pointer;
        background-color: #fff7ef;
        border: none;
    @include sp{
        font-size: 1.5rem;
    }
    }

    &__open{
        height: 0;
        display: none;
        position: static;
    }

    @include tab{
        display: block; //タブレットサイズになったら表示
    }
}

#c-form{
    position:relative;
    display: flex;
    margin-right: 2rem;
    text-align:center;
    @include tab{
        padding: 2rem 0 0 3rem;
        margin:0 20%;
    }
    @include sp{
        margin:0 5%;
    }
&__search{
    border-radius: 0.5rem;
    background:#FFFFFF;
    width: 35rem;
    border: solid 0.1rem #707070;/*線*/
}
&__search__text{	
    outline:0;	
    height:3rem;
    padding:0 10px;  
    left:0;
    top:0; 
    }
&__search__button{
    float: left;
    padding: 0.5rem;
    
}
&__submit{
    margin-left: 0.5rem;
    width:8rem;
    height:3.5rem;
    left:15rem; 
    top:0;
    border-radius: 0.5rem;
    background:#F2EDE9;
    color:#fff;
    font-weight:bold;
    font-size:1rem;
    border:none;
    color: #707070;
    text-align: center;
    border: solid 0.1rem #707070;/*線*/
    }
    }

    .c-button__close {
        display: none;
        vertical-align: middle;
        line-height: 1;
        width: 4rem;
        height: 0.5rem;
        background-color: #707070;
        border-radius: 0.1rem;
        position: relative;
        transform: rotate(45deg);
        margin-bottom: 12rem;
        margin-top: 1.5rem;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            border-radius: inherit;
            transform: rotate(90deg);
            
        }
        @include tab{
            display: inline-block;
            left: 85%;
        }


    }


    .c-footer__container__sub2{
        font-size: 5rem;
    }

.c-button{
    margin: 4rem 0 4rem 0;
    &__kadomaru{
        width:35.5rem;
        height:7rem;
        border-radius: 1rem;
        background:#F2EDE9;
        font-weight:bold;
        font-size:1.3rem;
        color: #707070;
        text-align: center;
        border: solid 0.1rem #707070;/*線*/
        @include sp{
            width: 33rem;
        }
    }
}