@use '../../global' as g;

.ad{
    @include g.mq('tab'){
        display: none;
    }
        img{
            width    : 40vw;
            height   : auto;
            opacity  : 0.35;
            animation: 20s linear infinite rotation1;
        }
        .tori{
            width    : 50vw;
            height   : auto;
            position : absolute;
            top      : 20%;
            left     : 30%;
            z-index  : -1;
            opacity  : 0.3;
            animation: 20s linear infinite rotation2;
        }

    }
.p-circle1__sp,
.p-circle2__sp,
.p-circle3__sp,
.p-circle4__sp,
.p-circle5__sp,
.p-circle6__sp,
.p-circle7__sp,
.p-circle8__sp{
display: none;
@include g.mq('tab'){
    display: block;
    text-align: center;
}
  
   .c-circle1__sp__img,
   .c-circle2__sp__img,
   .c-circle3__sp__img,
   .c-circle4__sp__img,
   .c-circle5__sp__img,
   .c-circle6__sp__img,
   .c-circle7__sp__img,
   .c-circle8__sp__img{
    display: none;
    @include g.mq('tab'){
        width: 30vw;
        height: auto;
        display: inline-block;
        margin: 2rem 0 3rem 0;
    }
 
   }
}
.p-circle1,
.p-circle3,
.p-circle5,
.p-circle7{
    position: absolute;
    @include g.mq('tab'){
        position       : static;
        display        : flex;
        justify-content: center;
    }

}
.p-circle2,
.p-circle4,
.p-circle6,
.p-circle8{
    position: absolute;
    @include g.mq('tab'){
        position       : static;
        display        : flex;
        justify-content: center;
        
    }
}

.p-circle1{
    top : 52.5%;
    left: 20.5%;
}
.p-circle2{
    top : 20%;
    left: 16%;
}
.p-circle3{
    top : 30%;
    left: 31%;
}
.p-circle4{  
    top : 49%;
    left: 40%;
}
.p-circle5{
    top : 52.5%;
    left: 56%;
}
.p-circle6{
    top : 68%;
    left: 31%;
}
.p-circle7{
    top : 58.5%;
    left: 5%;
}
.p-circle8{
    top :80%;
    left:0%;
}
.ad-3{
    width    : 11vw;
    height   : auto;
    animation: 20s linear infinite rotation1;
    @include g.mq('tab'){
        width     : 12.5rem;
        margin-top: 5rem;
        animation : 0s linear infinite rotation1;
        transform :rotateX(75deg);
    }
}
@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
}
@keyframes rotation2{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(-360deg); }
}

