.c-section__top__inner{

&--text{
    position: absolute;
    top: 30%;
    left: 5%;
    font-size: 2rem;
    color: #FFF5EE;
    line-height: 2;
    font-family: 'klee', sans-serif;
    width: 37.5%;
    height: 100%;
    @include tab{
        top: 20%;
        width: 50%;
        font-size: 1.5rem;
     }
    @include sp{
        top: 5%;
        font-size: 1rem;
     }
}

&--text1{
    position: absolute;
    top: 0;
    left: 2.5%;
    @include sp{
        top: 20%;
     }
}
&--text2{
    position: absolute;
    top: 25%;
    left: 2.5%;
  
    @include sp{
        top: 45%;
     }
}
&--text3{
    position: absolute;
    top: 40%;
    left: 2.5%;
    @include tab{
        top: 40%;
     }
     @include sp{
        top: 60%;
     }
}
}

.c-section__center{
    &__container{
        display: none;
        width: 80%;
        height: 15%;
        background-image: url(../image/logo.jpg);
        background-size: cover;
        border: 3px double #CC99FF;
        top:85%;
        left:50%;
        transform: translate(-50%,-50%);
        color:#FFFFFF;
        position: fixed;
        z-index: 110;
        text-align: center;
        font-family: 'klee', sans-serif; 
    }
  
    &--box1{
        position: relative;
        width: 20%;
        height: 100%;
        background-color: rgba(255,255,255,0.4);
    }
    &__img1{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%) translateX(-50%);
        width: 7.5rem;
        height: 7.5rem; 
        @include tab{
            width: 5rem;
            height: 5rem; 
         }
         @include sp{
            width: 3rem;
            height: 3rem; 
         }
    }
    &__img2{
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translateY(-50%) translateX(-50%);
        width: 8rem;
        height: 8rem; 
        @include tab{
            width: 5.5rem;
            height: 5.5rem; 
         }
         @include sp{
            width: 3rem;
            height: 3rem; 
         }
    }
    &__img4{
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translateY(-50%) translateX(-50%);
        width: 7.5rem;
        height: 7.5rem; 
        @include tab{
            width: 3.5rem;
            height: 3.5rem; 
         }
         @include sp{
            width: 1.5rem;
            height: 1.5rem; 
         }
    }
    &__img5{
        position: absolute;
        top: 50%;
        left: 72.5%;
        transform: translateY(-50%) translateX(-50%);
        width: 7.5rem;
        height: 7.5rem; 
        @include tab{
            width: 3.5rem;
            height: 3.5rem; 
         }
         @include sp{
            width: 1.5rem;
            height: 1.5rem; 
         }
    }
    &__img7{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 11rem;
        height: 11rem;
    }
    &__img9{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 10rem;
        height: 10rem;
    }
    &__img11{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 10rem;
        height: 10rem;
    }
    &__img12{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 10rem;
        height: 10rem;
    }
    &--box2{
        width: 60%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        h3{
            padding: 1.5rem 0 2rem 0;
            font-size: 2.5rem;
            text-decoration:underline double #FFCCFF;
        }
        p{
            font-size: 1.5rem;

        }
    }
  
    &--box3{
        width: 20%;
        height: 100%;
        position: relative;
        h3{
            padding: 1.75rem 0 2rem 0;
            font-size: 2.5rem;
        }
        p{
            font-size: 1.5rem;

        }

    }
    &__img3{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 5rem;
        height: 2.5rem; 
    }
    &__img6{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 5rem;
        height: 2.5rem; 
    }
    &__img8{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 5rem;
        height: 2.5rem; 
    }
    &__img10{
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 5rem;
        height: 2.5rem; 
    }
}

