.c-body__img{
    width: 100%;
    height: 100%;
}
.c-section__center{
    &__img{
        position: absolute;
        top: 85%;
        left: 5%;
        background-color: #FFFFFF;
        border-radius: 50%;
        z-index: 200;
    
        img{
            width: 5rem;
            height: 5rem;
        }
    }
}

.c-section__under--slider{
    position: absolute;
    top: 25%;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    @include tab{
      top: 20%;
   }
    @include sp{
      top: 25%;
   }
    img{
    width: 100%;
    height: 35rem;
    @include tab{
      width: 80%;
      height: 25rem;
   }
   @include sp{
    width: 80%;
    height: 10rem;
 }
    }
    &--nav{
        position: absolute;
        top: 30%;
        max-width: 80%;
        width: 100%;
        height: 10rem;
        margin: 0 auto;
        @include tab{
          top: 25%;
       }
        @include sp{
          top: 35%;
       }
        .slick-slide{
            margin: 0 1rem;
            border: 2px solid #9966CC;
            @include tab{
              margin: 0 0.5rem;
           }  
        }
    
        img{
            height: 10rem;
            border: 1.5px solid #CCCCFF;
            @include tab{
              height: 7.5rem;
           } 
       
        }
      
    }
}

.slide-arrow {
    bottom: 0;
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    width: 0;
  }
  .prev-arrow {
    border-top: solid 5px #CC33FF;
    border-right: solid 5px #CC33FF;
    width: 60px;
    height: 60px;
    transform: rotate(225deg);
    left: -45px;
    @include tab{
      width: 30px;
      height: 30px;
      left: -30px;
   }
    @include sp{
      width: 25px;
      height: 25px;
      left: -20px;
   }
  }
  .next-arrow {
    border-top: solid 5px #CC33FF;
    border-right: solid 5px #CC33FF	;
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    right: -45px;
    @include tab{
      width: 30px;
      height: 30px;
      right: -30px;
   }
    @include sp{
      width: 25px;
      height: 25px;
      right: -25px;
   }
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 0;
  }
  // .slick-track{
  //   @include tab{
  //     width: 0;

  //  }
  // }



.c-section__center{
                     
  &--pulse01{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
   &:hover{
    position: absolute;
    top:37.5%;
    left:37%;
    transform: translate(-50%,-50%);
    padding: 40px;
    transform:rotateX(75deg);
    border-color:  #9966CC;
   }
   &:hover +.c-section--hexagon--1{
    display: block;
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1;

  }
  &:hover ~.c-section__center__container{
    display: block;
    display: flex;
    justify-content: space-between;
  }
}
  &--pulse02{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
       }
       &:hover +.c-section--hexagon--2{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse03{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
       }
       &:hover +.c-section--hexagon--3{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse04{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
  
       }
       &:hover +.c-section--hexagon--4{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
       

      }
  }
  &--pulse05{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
       }
       &:hover +.c-section--hexagon--5{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse06{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
        z-index: 1;
       }
       &:hover +.c-section--hexagon--6{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse07{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
        z-index: 1;
       }
       &:hover +.c-section--hexagon--7{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse08{
    background: linear-gradient(-135deg, #333333, #9966CC);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animate 2s linear infinite;
    z-index: 10;
    &:hover{
        position: absolute;
        top:37.5%;
        left:37%;
        transform: translate(-50%,-50%);
        padding: 40px;
        transform:rotateX(75deg);
        z-index: 1;
       }
       &:hover +.c-section--hexagon--8{
        display: block;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &:hover ~.c-section__center__container{
        display: block;
        display: flex;
        justify-content: space-between;
      }
  }
  &--pulse09{
    background: linear-gradient(-135deg, #333333, #444444);
    position: absolute;
    top:30%;
    left:25%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animatever2 2s linear infinite;
    z-index: 10;
    &:hover{
      position: absolute;
      top:25.5%;
      left:21.5%;
      transform: translate(-50%,-50%);
      padding: 40px;
      transform:rotateX(75deg);
     }
     &:hover +.c-section--hexagon--9{
      display: block;
      position: absolute;
      top:22.5%;
      left:25%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }
    &:hover ~.c-section__center__container{
      display: block;
      display: flex;
      justify-content: space-between;
    }

  }
  &--pulse010{
    background: linear-gradient(-135deg, #333333, #444444);
    position: absolute;
    top:75%;
    left:22.5%;
    transform: translate(-50%,-50%);
    padding: 8px;
    border-radius: 50%;
    animation: animatever2 2s linear infinite;
    z-index: 10;
    &:hover{
      position: absolute;
      top:70.5%;
      left:19.5%;
      transform: translate(-50%,-50%);
      padding: 40px;
      transform:rotateX(75deg);
     }
     &:hover +.c-section--hexagon--10{
      display: block;
      position: absolute;
      top:67%;
      left:23%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }
    &:hover ~.c-section__center__container{
      display: block;
      display: flex;
      justify-content: space-between;
    }

  }

}
 @keyframes animate {
   0%{
     box-shadow:  0 0 0 0 rgba(207,135,237, 0.6), 0 0 0 0 rgba(207,135,237,0.6);
   }
   30%{
     box-shadow:  0 0 0 9px rgba(29, 171, 209, 0),0 0 0 0 rgba(207,135,237,0.6);
   }
   65%{
     box-shadow:  0 0 0 9px rgba(29, 171, 209, 0),0 0 0 10px rgba(29, 171, 209, 0);
   }
   100%{
    box-shadow:  0 0 0 0 rgba(29, 171, 209, 0),0 0 0 10px rgba(29, 171, 209, 0);
  }
 }
