
.c-section{
        &--hexagon__content {
            position: relative;
            width: 100px;
            height: 86.67px;
            
        }
        
        &--hexagon__content div {
            width: 50px;
            height: 86.5px;
            position: absolute;
            left: 25px;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            transform-origin: center;
            box-sizing: border-box;
            background-color: #c0c0c0;
           
        }
        &--hexagon__content div:nth-of-type(1) {
            transform: rotate(0deg);
            border-color: #9966FF;
          }
        &--hexagon__content div:nth-of-type(2) {
            transform: rotate(60deg);
            border-color: #9966FF;
        }
        &--hexagon__content div:nth-of-type(3) {
            transform: rotate(120deg);
            border-color: #9966FF;
          }
        &--hexagon--1{
            display: none;
 
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }

        }
        &--hexagon--2{
            display: none;
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--3{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--4{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 8.5rem;
                    height: 8.5rem;
                }
            }
        }
        &--hexagon--5{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--6{
            display: none;
   
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 8.5rem;
                    height: 8.5rem;
                }
            }
        }        
        &--hexagon--7{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--8{
            display: none;
    
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--9{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--10{
            display: none;

            &:hover{
                animation: p-section--hexagon--10 .1s  infinite;
            }

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }

}

    
 


@keyframes  p-section--hexagon--9{
    0% {transform: translate(0px, 2px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
} 
@keyframes  p-section--hexagon--10{
    0% {transform: translate(0px, 2px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}



    *{
        box-sizing: border-box;
    }
    .outer{
        position: relative;
        width: 300px;
        height: 300px;
        animation:20s linear infinite rotation2;
    }
    
    .iconGear,
    .iconGear:before,
    .iconGear:after,
    .iconGear div:before{
        position: absolute;
        width: 40px;
        height: 200px;
        content: '';
        background-color: rgba(51, 102, 153 ,0.15);
        border-radius: 1px;
    }
    .iconGear{
        top: 50px;
        left: 130px;
    }
    .iconGear:before{
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }
    .iconGear:after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }
    .iconGear div:before{
        top: -20px;
        left: 60px;
        transform: rotate(90deg);
     }
    .iconGear div{
        position: absolute;
        top: 20px;
        left: -60px;
        width: 160px;
        height: 160px;
        background-color: rgba(51, 102, 153 ,0.15);
        border-radius: 50%;
        z-index: 5;
     }
    .iconGear div:after {
        position: absolute;
        top: 40px;
        left: 40px;
        content: '';
        width: 80px;
        height: 80px;
        background-color: #000000;
        border-radius: 50%;
    }

    .outer1{
        position: relative;
        width: 750px;
        height: 750px;
    }
    
    .iconGear1,
    .iconGear1:before,
    .iconGear1:after,
    .iconGear1 div:before{
        position: absolute;
        width: 100px;
        height: 500px;
        content: '';
        background-color: #336699;
        border-radius: 1px;
        
    }
    .iconGear1{
        top: 125px;
        left: 325px;
    }
    .iconGear1:before{
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }
    .iconGear1:after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }
    .iconGear1 div:before{
        top: -50px;
        left: 150px;
        transform: rotate(90deg);
     }
    .iconGear1 div{
        position: absolute;
        top: 50px;
        left: -150px;
        width: 400px;
        height: 400px;
        background-color: #336699;
        border-radius: 50%;
        z-index: 5;
     }
    .iconGear1 div:after {
        position: absolute;
        top: 100px;
        left: 100px;
        content: '';
        width: 200px;
        height: 200px;
        background-color: #000000;
        border-radius: 50%;
    }

    .ad{
        position: absolute;
        top:60%;
        left:37.5%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        opacity: 0.15;
        
      }

      .ad1{
        position: absolute;
        top:60%;
        left:37.5%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 700;
      }
      
      .ad2{
        position: absolute;
        top:20%;
        left:35%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 900;
        
      }
      .ad3{
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 800;
      }
      .ad4{  
        position: absolute;
        top:55%;
        left:60%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 700;
      }
      .ad5{
        position: absolute;
        top:70%;
        left:75%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 600;
      }
      .ad6{
        position: absolute;
        top:82.5%;
        left:51.5%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 500;
        
      }
      .ad7{
          position: absolute;
          top:80%;
          left:25%;
          transform: translate(-50%,-50%);
          border-radius: 50%;
          z-index: 400;
         
      }
      .ad8{
        position: absolute;
        top:95%;
        left:10%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 300;
        
      }
      
      @keyframes rotation1{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(360deg); }
      }
      @keyframes rotation2{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(-360deg); }
      }