@use '../../global' as g;

.c-section{
        &--hexagon__content {
            position: relative;
            width: 100px;
            height: 86.67px;
            
        }
        
        &--hexagon__content div {
            width: 50px;
            height: 86.5px;
            position: absolute;
            left: 25px;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            transform-origin: center;
            box-sizing: border-box;
            background-color: #c0c0c0;
           
        }
        &--hexagon__content div:nth-of-type(1) {
            transform: rotate(0deg);
            border-color: #9966FF;
          }
        &--hexagon__content div:nth-of-type(2) {
            transform: rotate(60deg);
            border-color: #9966FF;
        }
        &--hexagon__content div:nth-of-type(3) {
            transform: rotate(120deg);
            border-color: #9966FF;
          }
        &--hexagon--1{
            display: none;
 
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }

        }
        &--hexagon--2{
            display: none;
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--3{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--4{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 8.5rem;
                    height: 8.5rem;
                }
            }
        }
        &--hexagon--5{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }
        }
        &--hexagon--6{
            display: none;
   
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 8.5rem;
                    height: 8.5rem;
                }
            }
        }        
        &--hexagon--7{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--8{
            display: none;
    
            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--9{
            display: none;

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
        &--hexagon--10{
            display: none;

            &:hover{
                animation: p-section--hexagon--10 .1s  infinite;
            }

            &__img{
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, -50%);
                img{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }

}

    
 


@keyframes  p-section--hexagon--9{
    0% {transform: translate(0px, 2px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
} 
@keyframes  p-section--hexagon--10{
    0% {transform: translate(0px, 2px) rotateZ(0deg)}
    25% {transform: translate(2px, 2px) rotateZ(1deg)}
    50% {transform: translate(0px, 2px) rotateZ(0deg)}
    75% {transform: translate(2px, 0px) rotateZ(-1deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}




    .outer{
        position: relative;
        width: 300px;
        height: 300px;
        animation:20s linear infinite rotation2;
        @include tab{
            width: 225px;
            height: 225px;
            animation:0s linear infinite rotation2;
         }
         @include sp{
            width: 225px;
            height: 225px;
         }
    }
    
    .iconGear,
    .iconGear:before,
    .iconGear:after,
    .iconGear div:before{
        position: absolute;
        width: 40px;
        height: 200px;
        content: '';
        background-color: rgba(51, 102, 153 ,0.15);
        border-radius: 1px;
        @include tab{
            width: 30px;
            height: 150px;
         }
         @include sp{
            width: 30px;
            height: 150px;
         }
    }
    .iconGear{
        top: 50px;
        left: 130px;
        @include tab{
            width: 37.5px;
            left: 97.5px;
         }
         @include sp{
            width: 37.5px;
            left: 97.5px;
         }
    }
    .iconGear:before{
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }
    .iconGear:after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }
    .iconGear div:before{
        top: -20px;
        left: 60px;
        transform: rotate(90deg);
        @include tab{
            top: -15px;
            left: 45px;
         }
         @include sp{
            top: -15px;
            left: 45px;
         }
     }
    .iconGear div{
        position: absolute;
        top: 20px;
        left: -60px;
        width: 160px;
        height: 160px;
        background-color: rgba(51, 102, 153 ,0.15);
        border-radius: 50%;
        z-index: 5;
        @include tab{
            top: 15px;
            left: -45px;
            width: 120px;
            height: 120px;
         }
         @include sp{
            top: 15px;
            left: -45px;
            width: 120px;
            height: 120px;
         }
     }
    .iconGear div:after {
        position: absolute;
        top: 40px;
        left: 40px;
        content: '';
        width: 80px;
        height: 80px;
        background-color: #000000;
        border-radius: 50%;
        @include tab{
            top: 30px;
            left: 30px;
            width: 60px;
            height: 60px;
         }
         @include sp{
            top: 30px;
            left: 30px;
            width: 60px;
            height: 60px;
         }
    }

    .outer1{
        position: relative;
        width: 750px;
        height: 750px;
        animation:20s linear infinite rotation1;
        @include tab{
            width: 375px;
            height: 375px;
         }
          @include sp{
      
         }
    }
    
    .iconGear1,
    .iconGear1:before,
    .iconGear1:after,
    .iconGear1 div:before{
        position: absolute;
        width: 100px;
        height: 500px;
        content: '';
        background-color: #336699;
        border-radius: 1px;
        @include tab{
            width: 50px;
            height: 250px;
         }
          @include sp{
      
         }
        
    }
    .iconGear1{
        top: 125px;
        left: 325px;
        @include tab{
            top: 62.5px;
            left: 162.5px;
         }
          @include sp{
      
         }
    }
    .iconGear1:before{
        top: 0;
        left: 0;
        transform: rotate(45deg);
    }
    .iconGear1:after {
        top: 0;
        left: 0;
        transform: rotate(-45deg);
    }
    .iconGear1 div:before{
        top: -50px;
        left: 150px;
        transform: rotate(90deg);
        @include tab{
            top:-25px;
            left: 75px;
         }
          @include sp{
      
         }
     }
    .iconGear1 div{
        position: absolute;
        top: 50px;
        left: -150px;
        width: 400px;
        height: 400px;
        background-color: #336699;
        border-radius: 50%;
        z-index: 5;
        @include tab{
            top: 25px;
            left: -75px;
            width: 200px;
            height: 200px;
         }
          @include sp{
      
         }
     }
    .iconGear1 div:after {
        position: absolute;
        top: 100px;
        left: 100px;
        content: '';
        width: 200px;
        height: 200px;
        background-color: #000000;
        border-radius: 50%;
        @include tab{
            top: 50px;
            left: 50px;
            width: 100px;
            height: 100px;
         }
          @include sp{
      
         }
    }

    .ad{
        position: absolute;
        top:60%;
        left:25%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        opacity: 0.15;
        @include tab{
            top:50%;
            left:35%;
         }
          @include sp{
            left:50%;
         }
      }

      .ad1{
        position: absolute;
        top:36.25%;
        left:12%;
        @include tab{
            top:35%;
            left:17.5%;
         }
         @include tabsp{
            left:0%;
        }
          @include sp{
            left:-10%;
         }
      }
      
      .ad2{
        position: absolute;
        top:0%;
        left:10%;
        @include tab{
            top:5%;
            left:5%;
         }
         @include tabsp{
            top: 0%;
            left:-5%;
        }
          @include sp{
            left:-15%;
         }
      }
   
      .ad3{
        position: absolute;
        top:12%;
        left:27.5%;
        @include tabsp{
            top: 7.5%;
            left:35%;
        }
          @include sp{
            left:25%;
         }
      }
      .ad4{  
        position: absolute;
        top:37.5%;
        left:40%;
        @include tab{
            top:27.5%;
            left:42.5%;
         }
         @include tabsp{
            top: 20%;
            left:20%;
        }
          @include sp{
            left:5%;
         }
      }
      .ad5{
        position: absolute;
        top:45%;
        left:57.5%;
        @include tab{
            top:42.5%;
            left:60%;
         }
         @include tabsp{
            top: 30%;
            left:40%;
        }

          @include sp{
            top: 32.5%;
            left:27.5%;
         }
      }
      .ad6{
        position: absolute;
        top:65%;
        left:37.5%;
        @include tab{
            top:52.5%;
            left:30%;
         }
         @include tabsp{
            top:45%;
            left:35%;
        }
          @include sp{
            top:47.5%;
            left:27.5%;
         }   
      }
      .ad7{
          position: absolute;
          top:65%;
          left:5%;
          @include tab{
            top:50%;
            left:0%;
         }
         @include tabsp{
            top:50%;
            left:-7.5%;
        }
          @include sp{
            left:-15%;
         }
      }
      .ad8{
        position: absolute;
        top:85%;
        left:20%;
        @include tab{
            top:67.5%;
            left:10%;
         }
         @include tabsp{
            top:62.5%;
            left:17.5%;
        }
          @include sp{
      
         }
      }
      
      @keyframes rotation1{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(360deg); }
      }
      @keyframes rotation2{
        0%{ transform:rotate(0);}
        100%{ transform:rotate(-360deg); }
      }