.u-section__text{
    margin-bottom: 5rem;
    font-family: cursive;
    z-index: 100;
    color: #FFF;
    font-size: 5rem;
    @include tab{
        font-size: 2.5rem;
     }
    &--1{
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        @include tab{
            font-size: 3.5rem;
         }
        @include sp{
            font-size: 2rem;
         }
    }
    &--2{
        position: absolute;
        top: 60%;
        left: 55%;
        transform: translate(-50%, -50%);
        @include tab{
            font-size: 3.5rem;
         }
        @include sp{
            font-size: 2rem;
            top: 60%;
            left: 60%;
         }
    }
}