
.p-section{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  &__main{
      width: 100%;
      height: 60rem;
      position: relative;
  }
  &__inner{
      position: relative;
      z-index: 500;
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 30px;
  }  
    &__top{
        position: relative;
        width: 100%;
        height: 100rem;
        background-image: url(../image/murakami.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15rem;
        border-radius: 30px;
        h2{
            position: absolute;
            color: #FFF8DC	;
            top: 0%;
            left: -2.5%;
            font-size: 15rem;
            font-family: cursive;
            transform: rotate(-20deg);
            -moz-transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
        }
        img{
            width: 90%;
            margin: 5%;
            border-radius: 3rem;
            height: 85rem;
            opacity: 0.8;
            
        }
    }

    &__center{
        position: relative;
        width: 100%;
        height: 80rem;
        margin-bottom: 15rem;

        h2{
            position: absolute;
            color: #FFF8DC;
            font-size: 15rem;
            top: -5%;
            left: 75%;
            font-family: cursive;
            transform: rotate(20deg);
            -moz-transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
        }
        &__inner{
            width: 75%;
            height: 100%;
            background-image: url(../image/gears.png);
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.2;
        }
        }
    
        &__container { 
            position: relative;
            width: 100%;
            height: 100%;
          }
          &__under{
            position: relative;
            width: 100%;
            height: 100rem;
            z-index: 10;
            opacity: 0.8;
            img{
                width: 100%;
            }
            h2{
                position: absolute;
                color: #FFF8DC;
                font-size: 15rem;
                top: 0.5%;
                left: 0%;
                font-family: cursive;
                transform: rotate(-20deg);
                -moz-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                
            }
    
         
        
        }
        }

.p-section__profile{  
    width: 80%;
    height: 100%;
    background-color: #000000;
    font-family: 'klee', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    h1{
        font-size: 4rem;
        text-align: center;
        padding: 3rem;
        font-family: serif;
    }
    &--content{
    font-family:  serif;
    h2{
        margin: 3rem;
        font-size: 1.5rem;
    }
    .wp-image-216{
        margin-left: 25%;
        width: 45rem;
        height: 40rem;
    }
    .wp-block-column{
        p{
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            line-height: 1.5;
        }
    }
    h3{
        margin: 3rem 0 ;
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        line-height: 2.5;
    }
    }
}

.p-section__skills{
    position: relative;
    width: 80%;
    height: 150vh;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    h1{
       font-size: 5rem;
       position: absolute;
       top: 7.5%;
       left: 50%;
       transform: translate(-50%, -50%);
       z-index: 10;
       font-family:  serif;
    }
    &--content{

        position: absolute;
        top: 10%;
        left: 0;
        margin: 5rem;
        font-family: 'klee', sans-serif;
        
    
    h3{
        font-weight: bold;
        font-size: 2.25rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1.85rem;
        line-height: 2;
    }
    .wp-image-162,.wp-image-166{
        margin-left: 25%;
        width: 15rem;
        height: 15rem;
    }
    .wp-image-169,.wp-image-198{
        margin-left: 25%;
    }

    .wp-block-column{
        margin-bottom: 3rem;
    }
    }
}

.p-section__works{
    position: relative;
    background-color: #000;
    width: 80%;
    margin: 0 auto;
    h1{
       font-size: 5rem;
       position: absolute;
       top: 10%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #FFFFFF;
       z-index: 10;
       font-family:  serif;
    }
    &--gallery{
        margin-top: 10rem;
    }
}
.p-section__contact{
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    background-color: #000000;
    z-index: 100;
    h1{
       font-size: 5rem;
       position: absolute;
       top: 5%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #FFFFFF;
       z-index: 10;
       font-family:  serif;
    }
    &--content{
        background-color: #FFFFFF;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    p{
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    span{
        border: 1px solid #000;
        input{
            height: 3rem;
        }
    }
    }
    }
