
.p-section{
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
  &__main{
      width: 100%;
      height: 60rem;
      position: relative;
  }
  &__inner{
      position: relative;
      z-index: 500;
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 30px;
  }  
    &__top{
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(../image/murakami.png);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15rem;
        border-radius: 30px;
        @include tab{
            background-position: right;
         }
         @include tabsp{
            background-position: center;
         }
         @include sp{
            background-position: right 35% bottom 50%;
         }
        h2{
            position: absolute;
            color: #FFF8DC	;
            top: 0%;
            left: -2.5%;
            font-size: 15rem;
            font-family: cursive;
            transform: rotate(-20deg);
            -moz-transform: rotate(-20deg);
            -webkit-transform: rotate(-20deg);
            text-shadow:1px 1px 0 #A16EFF, -1px -1px 0 #A16EFF,
            -1px 1px 0 #A16EFF, 1px -1px 0 #A16EFF,
            0px 1px 0 #A16EFF,  0-1px 0 #A16EFF,
            -1px 0 0 #A16EFF, 1px 0 0 #A16EFF;
            @include tab{
                font-size: 10rem;
             }
            @include sp{
                font-size: 7.5rem;
             }
        }

    }

    &__center{
        position: relative;
        width: 100%;
        height: 80vh;
        margin-bottom: 15rem;

        h2{
            position: absolute;
            color: #FFF8DC;
            font-size: 15rem;
            top: 0%;
            right: 0%;
            font-family: cursive;
            transform: rotate(20deg);
            -moz-transform: rotate(20deg);
            -webkit-transform: rotate(20deg);
            text-shadow:1px 1px 0 #A16EFF, -1px -1px 0 #A16EFF,
            -1px 1px 0 #A16EFF, 1px -1px 0 #A16EFF,
            0px 1px 0 #A16EFF,  0-1px 0 #A16EFF,
            -1px 0 0 #A16EFF, 1px 0 0 #A16EFF;
            @include tab{
                font-size: 10rem;
             }
            @include sp{
                font-size: 7.5rem;
             }
        }
        }
    
        &__container { 
            position: relative;
            width: 100%;
            height: 100%;
          }
  
          &__under{
            position: relative;
            width: 100%;
            height: 100rem;
            z-index: 10;
            opacity: 0.8;
            @include tab{
                height: 70rem;
             }
            @include sp{
                height: 50rem;
             }
            img{
                width: 100%;
            }
            h2{
                position: absolute;
                color: #FFF8DC;
                font-size: 15rem;
                top: 0.5%;
                left: 0%;
                font-family: cursive;
                transform: rotate(-20deg);
                -moz-transform: rotate(-20deg);
                -webkit-transform: rotate(-20deg);
                text-shadow:1px 1px 0 #A16EFF, -1px -1px 0 #A16EFF,
                -1px 1px 0 #A16EFF, 1px -1px 0 #A16EFF,
                0px 1px 0 #A16EFF,  0-1px 0 #A16EFF,
                -1px 0 0 #A16EFF, 1px 0 0 #A16EFF;
                @include tab{
                    font-size: 10rem;
                 }
                @include sp{
                    font-size: 7.5rem;
                 }
            }
    
         
        
        }
        }

.p-section__profile{ 
    position: relative; 
    width: 80%;
    height: 100%;
    background-color: #000000;
    font-family: 'klee', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 100;
    
    h1{
        font-size: 12rem;
        text-align: center;
        padding: 7.5rem;
        margin-bottom: 5rem;
        font-weight: bold;
        font-family: cursive;
        text-shadow:1px 1px 0 #A16EFF, -1px -1px 0 #A16EFF,
        -1px 1px 0 #A16EFF, 1px -1px 0 #A16EFF,
        0px 1px 0 #A16EFF,  0-1px 0 #A16EFF,
        -1px 0 0 #A16EFF, 1px 0 0 #A16EFF;
        @include tab{
            font-size: 5rem;
            padding: 5rem;
         }
    }
    &--content{
 
    h2{
        margin: 3rem;
        font-size: 2rem;
        
    }
    .c-section__profile--name{
        font-size: 6rem;
        

    }
    .wp-image-216{

        border-radius: 50%;
        @include tab{
            margin: 0;
            width: 25rem;
            height: 25rem;
         }
    }
    .wp-block-column{
        
            font-size: 2rem;
            line-height: 2;
        
    }
    .wp-block-table{
        text-align: center;
    }
    h3{
        margin: 7.5rem 0 ;
        font-size: 2.5rem;
    }
    h4{
        font-size: 2.25rem;
        margin-bottom: 3rem;
        color: #FFFF22;
    }
    p{
        font-size: 2rem;
        line-height: 2.5;
    }
    .wp-block-column{
        text-align: center;
    }
    .wp-block-columns{
        h4{
            
            background: linear-gradient(transparent 70%, #A16EFF 0%);
            display: inline-block;
           
        }
    }
    }
}

.p-section__skills{
    position: relative; 
    width: 80%;
    height: 100%;
    background-color: #000000;
    font-family: 'klee', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 100;
    h1{
        font-size: 8rem;
        text-align: center;
        padding: 7.5rem;
        font-weight: bold;
        font-family: cursive;
        @include tab{
            font-size: 5rem;
            padding: 5rem;
         }
    }
    &--content{

        margin: 5rem;
        font-family: 'klee', sans-serif;
        
    
    h3{
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 2rem;
        line-height: 2;
    }
  
    
    .wp-image-162,.wp-image-166,.wp-image-232{
        display: block;
        margin: 0 auto;
        width: 15rem;
        height: 15rem;
    }
    .blocks-gallery-grid{
        margin: 0 auto;
    }



    .wp-block-column{
        margin-bottom: 6rem;
    }
    }
}

.p-section__works{
    position: relative;
    width: 80%;
    height: 100%;
    background-color: #000000;
    font-family: 'klee', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 100;
    h1{
        font-size: 8rem;
        text-align: center;
        padding: 7.5rem 0 0 0;
        font-weight: bold;
        font-family: cursive;
        @include tab{
            font-size: 5rem;
            padding: 5rem;
         }
    }
    &--gallery{
        
        .wp-block-gallery{
            font-size: 2.25rem;
            li{
                margin-top: 10%;
                border: 1px solid #A16EFF;
              
            }
         
        }
      
    }
}


.p-section__contact{
    position: relative; 
    width: 80%;
    height: 100%;
    background-color: #000000;
    font-family: 'klee', sans-serif;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 100;
    h1{
        font-size: 8rem;
        text-align: center;
        padding: 7.5rem;
        font-weight: bold;
        font-family: cursive;
        @include tab{
            font-size: 5rem;
            padding: 5rem;
         }
    }
    &--content{
        width: 60%;
        height: 100%;
        margin: 0 auto;
        display: block;
        @include tab{
            margin-left: 20%;
         }
        
    p{
        font-size: 2rem;
      
    }
 
    }
    }
    .wpcf7-form-control-wrap{
        display: inline-block;
        border: 1px solid #FFFFFF;
        margin:5% 10%;
        width: 80%;
        @include tab{
            margin: 0 0 5% 0;
            width: 100%;
         }
    }
    .your-message{
        border: 0px solid #FFFFFF;
       
    }
    .wpcf7-textarea {
        border: 1px solid #FFFFFF;
        width: 100%;
    }

