@use '../../global' as g;

.p-section__contact{
    position: relative; 
    width: 80%;
    height: 100%;
    background: radial-gradient(rgba(87,3,92,0.8),rgba(11, 11, 11,1));
    margin: 0 auto;
    z-index: 100;
    border-radius: 30px;
    font-size: 2rem;
    h1{
        font-size: 15rem;
        -webkit-text-stroke: 1px #9966CC;
        color: rgba(87,3,92,0);
        font-family: cursive;
        padding: 5% 0 0 5%;
        margin-bottom: 5%;
        @include g.mq('tab'){
            font-size: 8rem;
        }
        @include g.mq('sp'){
            font-size: 6rem;
         }
    }
    &--content{
        max-width: 80%;
        height: 100%;
        margin: 0 auto;
        display: block;
        padding-bottom: 5rem;
    }
    }

    .c-contact__name,.c-contact__email,.c-contact__subject,.c-contact__company,.c-contact__tel,.c-contact__message{
        display: flex;
        margin-bottom: 2.5rem;
        width: 100%;
        justify-content: center;
        border: 1px solid #CC99FF;
        height: 4.5rem;
        @include g.mq('tab'){
            font-size: 1.5rem;
         }
         @include g.mq('sp'){
            height: 3rem;
            font-size: 1rem;
            margin-bottom: 2rem;
         }
        &:hover>&__left{
            background:linear-gradient(-135deg, rgba(235, 3, 235),rgba(68, 4, 68));
        }

        &__left{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: left;
            p{
                padding-left: 1vw;
              
            }
        }
        &__right{
            width: 50%;
            display: flex;
            border-left: 1px solid #DCC2FF;
            text-align: center;
        }
     
    }

    .c-contact__submit{
        width: 60%;
        margin: 5rem auto;
        height: 6rem;
        text-align: center;
        font-size: 3rem;
        color: #FFFFFF;
        font-weight: bold;
        border: 1.5px solid #CC99FF;
        @include g.mq('tab'){
            height: 4rem;
            font-size: 2rem;
            margin: 3rem auto;
         }
        @include g.mq('sp'){
            font-size: 1.25rem;
        }
        &:hover{
            background:linear-gradient(-135deg, rgba(235, 3, 235),rgba(68, 4, 68));
        }
    }
    .wpcf7-form-control{
        width: 100%;
        height: 100%;
 
        

        
    }
    .wpcf7-form-control-wrap{
        display: inline-block;
        width: 100%;
        overflow: hidden;
    }
 
