@use '../../global' as g;

.p-section{
    position: relative;
    width   : 80%;
    height  : 100%;
    margin  : 0 auto;
    &__main{
        position: relative;
        width   : 100%;
        height  : 60rem;
    
    }
    &__inner{
        position     : relative;
        z-index      : 500;
        width        : 100%;
        height       : 100%;
        background   : radial-gradient(rgba(87,3,92,0.8),rgba(11, 11, 11,1));
        border-radius: 30px;
        h1{
            font-size          : 15rem;
            color              : rgba(87,3,92,0);
            -webkit-text-stroke: 1px #9966CC;
            font-family        : cursive;
            margin-bottom      : 5rem;
            @include g.mq('tab'){
                font-size: 8rem;
            }
            @include g.mq('sp'){
                font-size: 6rem;
             }
        }
    }  
    &__top{
        position     : relative;
        width        : 90%;
        height       : 100%;
        margin       : 0 auto;
        margin-bottom: 10rem;
        .c-section__topimage{
            width : 100%;
            height: auto;
            opacity: 0.6;
            @include g.mq('tab'){
                display: none;
            }
        }
        .c-section__topimagesp{
            display: none;
            @include g.mq('tab'){
                display: block;
                width : 100%;
                height: auto;
                opacity: 0.5;
            }
        }
        h1{
            padding-top: 5rem;
        }
    }

    &__center{
        position: relative;
        width: 90%;
        height: 100%;
        margin-bottom: 15rem;
        margin: 0 auto;
        h1{
            margin-bottom: 3rem;
        }
        }
    
        &__container { 
            position: relative;
            width: 100%;
            height: 100%;
        }

    &__under{
        position: relative;
        width: 90%;
        height: 100%;
        z-index: 10;
        padding-bottom: 15rem;
        margin: 0 auto;
        @include g.mq('tab'){
            padding-bottom: 10rem;
        }
        @include g.mq('sp'){
            padding-bottom: 5rem;
         }
        h1{
            margin-top: 10rem;
            padding-top: 0;
        }
    }
    }
