@use '../../global' as g;
.p-section__center{
    position: relative;
    width: 90%;
    height: 100%;
    margin-bottom: 15rem;
    margin: 0 auto;
    h1{
        img{
            margin-top : -5rem;
            } 
    }
}
.p-skill{
    @include g.mq('tab'){
        position: absolute;
    } 
}
