.l-section__main{
    margin: 4rem 6rem;
    @include tab{
        margin: 2rem;
    }
}
.l-section__main__single{
    margin: 6rem;
    @include tab{
        margin: 4rem;
    }
    @include sp{
        margin: 2rem;
    }
}