$pc-tab: px;
@mixin pc-tab {
    @media (max-width: ($pc-tab)) {
        @content;
    }
}


$tab: 834px;
@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}



$tabsp: 600px;
@mixin tabsp {
    @media (max-width: ($tabsp)) {
        @content;
    }
}

$sp: 375px;
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}